

<h1>Live Style Guides</h1>

<!-- =MODAL -->

<section class="Scenario">

  <h2>Modal</h2>

  <div class="Button" onclick="Modal.open()">
    Abrir modal
  </div>

  <div class="Modal js-modal">

    <div class="Modal-content">
      <div class="Modal-header">
        <div class="Modal-stepBox">
          <div class="Modal-step">
            3
          </div>
        </div>
        <div class="Modal-titleBox">
          <h3 class="Modal-title">
            Confirmar solicitação
          </h3>
        </div>
      </div>

      <div class="Modal-body">
        <div class="Grid">
          <div class="Grid-cell u-sizeFull">
            <h2 class="Modal-subTitle">Doadores Solicitados:</h2>

          </div>
<!-- 2 -->
          <div class="Grid-cell u-desktop-size4of12 u-tablet-size6of12 u-mobile-sizefull">
            <div class="Modal-typesRequest">
              <div>
                <li>17 do tipo A+</li>
                <li>10 do tipo AB-</li>
                <li>15 do tipo AB-</li>
                <li>5 do tipo O+</li>
              </div>
            </div>
          </div>
          <!--3 -->

          <div class="Grid-cell u-desktop-size4of12 u-tablet-size6of12 u-mobile-sizefull">
            <div class="Modal-confirmation">
              <span>Enviar solicitação aos doadores dos tipos sanguíneos necessários?</span>
              <!-- BOTAO CANCELAR BOTAO ENVIAR -->
              <div class="Modal-buttons">
                <div class="Grid">

                  <div class="Grid-cell u-size5of10">
                    <div class="Button is-actived">
                      Confirmar
                    </div>
                  </div>


                  <div class="Grid-cell u-size5of10">
                    <div class="Button" id="cancelmodal" onclick="Modal.close()">
                      Cancelar
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
<!-- -->
        </div>
      </div>

    </div>

  </div>

</section>



<!-- =Button -->

<section class="Scenario">

  <h2>Button</h2>

  <div class="Scenario-component">
    <div class="Button">
      .Button
    </div>
  </div>

  <div class="Scenario-component">
    <div class="Button Button--small">
      .Button .Button--small
    </div>
  </div>

  <div class="Scenario-component">
    <div class="Button Button--large">
      .Button .Button--large
    </div>
  </div>

  <div class="Scenario-component">
    <div class="Button is-actived">
      .Button
    </div>
  </div>

  <div class="Scenario-component">
    <div class="Button Button--small is-actived">
      .Button .Button--small .is-actived
    </div>
  </div>

  <div class="Scenario-component">
    <div class="Button Button--large is-actived">
      .Button .Button--large .is-actived
    </div>
  </div>

</section>



<!-- =Container -->

<section class="Scenario">

  <h2>Container</h2>

  <div class="Container">
    <div class="Container-header">
      <div class="Grid">
        <div class="Grid-cell u-size2of12">
          <div class="Container-step">
            <span>1</span>
          </div>
        </div>
        <div class="Grid-cell u-size10of12">
          <h3 class="Container-header-text">
            Insira a quantidade necessária de doadores de sangue para cada tipo sanguíneo
          </h3>
        </div>
      </div>
    </div>

    <div class="Container-section">
      <!-- AQUI VAI DIV OU TEXTOS -->
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>

      <br>

      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>

  </div>


</section>




<!-- =Button -->

<section class="Scenario">

  <h2>Grids</h2>

  <div class="Grid Grid--withGutter">

    <!-- 2 Cells -->

    <div class="Grid-cell u-size6of12">
      <div class="Scenario-block">
        .Grid-cell .u-size6of12
      </div>
    </div>

    <div class="Grid-cell u-size6of12">
      <div class="Scenario-block">
        .Grid-cell .u-size6of12
      </div>
    </div>

    <!-- 3 Cells -->

    <div class="Grid-cell u-desktop-size4of12 u-tablet-size6of12 u-mobile-sizeFull">
      <div class="Scenario-block is-blue">
        .Grid-cell .u-desktop-size4of12 .u-tablet-size6of12 .u-mobile-sizeFull
      </div>
    </div>

    <div class="Grid-cell u-desktop-size4of12 u-tablet-size6of12 u-mobile-sizeFull">
      <div class="Scenario-block is-blue">
        .Grid-cell .u-desktop-size4of12 .u-tablet-size6of12 .u-mobile-sizeFull
      </div>
    </div>

    <div class="Grid-cell u-desktop-size4of12 u-tablet-sizeFull u-mobile-sizeFull">
      <div class="Scenario-block is-blue">
        .Grid-cell .u-desktop-size4of12 .u-tablet-sizeFull .u-mobile-sizeFull
      </div>
    </div>

    <!-- 2 Cells -->

    <div class="Grid-cell u-size4of12">
      <div class="Scenario-block">
        .Grid-cell .u-size4of12
      </div>
    </div>

    <div class="Grid-cell u-size8of12">
      <div class="Scenario-block">
        .Grid

        <div class="Grid Grid--withGutter">
          <div class="Grid-cell u-size6of12">
            <div class="Scenario-block">
              .Grid-cell .u-size6of12
            </div>
          </div>
          <div class="Grid-cell u-size6of12">
            <div class="Scenario-block">
              .Grid-cell .u-size6of12
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</section>
