
<div class="Modal">

  <div class="Modal-header Grid">
    <div class="Grid-cell u-size2of12">
      <div class="Modal-step">
        <div class="Modal-stepText">
            3
        </div>
      </div>
    </div>
    <div class="Grid-cell u-size10of12">
      <h3 class="Modal-title">Confirmar solicitação</h3>
    </div>
  </div>

  <div class="Modal-body">
    <div class="Grid">
      <div class="Grid-cell u-sizeFull">
        <h2 class="Modal-subTitle">Doadores Solicitados:</h2>

      </div>

      <div class="Grid-cell u-size6of12">
        <div class="Modal-typesRequest">
          <div>
            <li>17 do tipo A+</li>
            <li>10 do tipo AB-</li>
            <li>15 do tipo AB-</li>
            <li>5 do tipo O+</li>
          </div>
        </div>
      </div>

      <div class="Grid-cell u-size6of12">
        <div class="Modal-confirmation">
          <span>Enviar solicitação aos doadores dos tipos sanguíneos necessários?</span>
          <!-- BOTAO CANCELAR BOTAO ENVIAR -->
        </div>
      </div>

    </div>
  </div>

</div>
