/* line 3, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Button.scss */
.Button {
  background: #E0E1E2;
  padding: 12px;
  font-family: 'arial', sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: .28571429rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  display: inline-block;
}
/* line 15, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Button.scss */
.Button:hover {
  background-color: #c9cbcc;
  cursor: pointer;
}
/* line 20, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Button.scss */
.Button--large {
  padding: 20px;
  width: 250px;
  font-size: 16px;
}
/* line 26, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Button.scss */
.Button--medium {
  width: 130px;
  padding: 12px;
  font-size: 14px;
}
/* line 32, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Button.scss */
.Button--small {
  padding: 10px;
  font-size: 10px;
}
/* line 37, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Button.scss */
.Button.is-actived {
  background: #38C272;
  color: #fff;
  box-shadow: 1px 1px 3px #144629;
}
/* line 42, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Button.scss */
.Button.is-actived:hover {
  background-color: #32af67;
}
/* line 1, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Container.scss */
.Container {
  float: left;
}
/* line 6, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Container.scss */
.Container-header {
  width: 100%;
  padding: 15px;
  background-color: #6495ED;
}
/* line 10, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Container.scss */
.Container-header-text {
  color: #fff;
}
/* line 15, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Container.scss */
.Container-section {
  padding: 0 35px;
  box-sizing: border-box;
}
/* line 20, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Container.scss */
.Container-step {
  background: #ffffff;
  border-radius: 100%;
  float: left;
  text-align: center;
  width: 60px;
  height: 60px;
  vertical-align: middle;
  margin: 12px 0 0 15px;
}
/* line 30, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Container.scss */
.Container-step-text {
  text-align: center;
  padding: 10px 10px 10px 10px;
  font-weight: 800;
  line-height: 40px;
  font-size: 30px;
  color: black;
}
/* line 1, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Input.scss */
.Input {
  margin: 25px 0 0 0;
  overflow: auto;
}
/* line 5, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Input.scss */
.Input-label {
  font-size: 12px;
  display: inline-block;
  padding: 5px;
}
/* line 11, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Input.scss */
.Input-value {
  border-radius: 3px;
  border: 1px solid #c1c1c1;
  padding: 6px;
  font-size: 15px;
  font-weight: 400;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}
/* line 22, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Input.scss */
.Input-description {
  font-size: 25px;
  display: inline-block;
  margin: 0 0 0 12px;
}
/* line 30, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Input.scss */
.Input--large .Input-label {
  font-size: 35px;
  line-height: 67px;
}
/* line 35, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Input.scss */
.Input--large .Input-value {
  padding: 10px;
  font-size: 40px;
}
/* line 3, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Modal.scss */
.Modal {
  max-width: 550px;
  margin: 30vh auto 0;
  border: 1px solid #c1c1c1;
  overflow: hidden;
  border-radius: 5px;
}
/* line 10, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Modal.scss */
.Modal:after {
  content: " ";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.66);
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
}
/* line 21, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Modal.scss */
.Modal-header {
  background-color: #6495ED;
  overflow: auto;
  padding: 15px;
}
/* line 27, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Modal.scss */
.Modal-step {
  background: #ffffff;
  border-radius: 100%;
  float: left;
  text-align: center;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin: 12px 0 0 15px;
}
/* line 38, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Modal.scss */
.Modal-stepText {
  text-align: center;
  padding: 6px 0 0 0;
  font-weight: 800;
}
/* line 44, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Modal.scss */
.Modal-title {
  color: #E0E1E2;
}
/* line 48, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Modal.scss */
.Modal-body {
  overflow: auto;
  background-color: #F0FFFF;
  padding: 15px;
}
/* line 54, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Modal.scss */
.Modal-subTitle {
  margin: 6px 0 10px 0;
}
/* line 58, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Modal.scss */
.Modal-typesRequest {
  float: left;
  margin: 1%;
}
/* line 62, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Modal.scss */
.Modal-typesRequest li {
  margin: 5px;
  padding-top: 2px;
  font-size: 14px;
  font-weight: bolder;
}
/* line 71, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/Modal.scss */
.Modal-confirmation {
  margin-top: 15px;
  float: right;
  padding: 0 15px;
  border-left: 1px solid #c1c1c1;
}
/* line 1, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/components/_scenario.scss */
.Scenario {
  width: auto;
  height: 800px;
  overflow: hidden;
  text-align: center;
}
/* line 6, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/hospitals.scss */
.divona {
  width: 1000px;
}
/* line 1, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
}

/* line 10, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 17, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 23, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 26, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 30, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 36, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 40, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 47, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 52, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 56, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 62, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 70, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 81, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 87, /home/aluno3/Desktop/HemoHeroes/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *



 */

@import "grid/index.css";
@import "media-queries/index.css";
@import "size/index.css";
