<!DOCTYPE>
<html>

<head>


</head>




<body>
  <h1>
    PARABÉNS! VOCÊ TEVE SUA CONTA ATIVADA NO HEMOHEROES!
  </h1>

  <h4>
    Acesse https://hemoheroestw-staging.herokuapp.com/ e utilize nosso site!
  </h4>



</body>
</html>
