<!DOCTYPE>
<html>

<head>


</head>




<body>
  <h1>
    PARABÉNS! VOCÊ TEVE SUA CONTA ATIVADA NO HEMOHEROES!
  </h1>

  <h4>
    Acesse o <a href="https://hemoheroestw-staging.herokuapp.com/">nosso site</a> e confira!
  </h4>



</body>
</html>
