<!DOCTYPE html>
<html>
<head>
<style>
.Email {
  width: 540px;
  height: 675px;
  overflow:hidden;
  background: #E9E7E8 url("http://imageshack.com/a/img922/8563/rXummf.jpg") top repeat-x;
}
.Email-content {
     background: #fff;
    width: 400px;
     height: 540px;
     margin: 55px auto;
     border-radius: 5px;
     z-index:2;
    }
</style>
</head>
<body>

  <div class="Email">

  <div class="Email Email-content">
  <div class="Email-content-head" style="height: 100px;
  margin: 10px;
  font-size: 33pt;
  text-align: center;">
  <img src="http://hemoheroes.herokuapp.com/assets/hemoheroes-logo-fb55d5704bd6d3b172edcd6d59d5512562cc19e2492e666008d51ba53f68d6ba.png" />
</div>
<div class="Email-content-body padding-top" style="width: 370px;
height: 310px;
margin: auto;
text-align: center;
font-family: sans-serif;
padding-top: 20px">

<p class="margin-top" style="margin-top:30px;">
  Seu cadastro de banco de sangue foi aprovado!

  Você já está apto a entrar no nosso site e solicitar doações
  de nossos doadores parceiros!

  Para fazer login dirija-se ao HemoHeroes onde
  encontrará uma área para login e digite seu CNPJ e sua senha.
</p>
<span style="font-size: 1em;"><h2><%= @bank.name %></h2></span>
<span style="font-size: 1em;">CNPJ: <%= @bank.cnpj %></span>
<div class="Email-content-contentButtons align-center margin-top-large" style="  height: 50px;
width: 370px;
margin: 100px auto;
text-align:center;">
<a href="http://hemoheroes.herokuapp.com/#sobre" class="aButton Button Button--medium is-canceled" style="text-decoration: none;
color: #fff;
font-size: .8rem;
font-weight: 700;
display: inline-block;
box-sizing: border-box;
padding: 12px;
width: 180px;
text-align: center;
text-transform: uppercase;
border: 1px solid #af9d9d;
border-radius: 3px;
background: #e74c3c;
box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.25);
">Login!</a>
</div>

</div>
</div>

</div>
</div>
</body>
</html>
