<!DOCTYPE html>
<html>
<head>
</head>


<body>
  <div>

    <div class="Email" style="width: 540px;
    height: 675px;
    overflow:hidden;
    background: #E9E7E8 url('http://imageshack.com/a/img922/8563/rXummf.jpg') top repeat-x;">

    <div class="Email-content" style="background: #fff;
    width: 400px;
    height: 540px;
    margin: 55px auto;
    border-radius: 5px;
    z-index:2;">
    <div class="Email-content-head" style="height: 100px;
    margin: 10px;
    font-size: 33pt;
    text-align: center;">
    <img src="http://i.imgur.com/hukggSe.png" width="100" height="100" />
  </div>

  <div class="Email-content-body" style="width: 370px;
  height: 310px;
  margin: auto;
  text-align: center;
  font-family: sans-serif;">
  <h2 style="color: #fe4b4a; font-size:2.3rem;">Bem vindo ao HemoHeroes </h2>
  <span>Que bom que nós encontramos você!</span>
  <p>
    Você acaba de se cadastrar na nossa plataforma, agora poderá ajudar a salvar vidas e obter
    toda infomação necessária para facilitar sua doação.
  </p>
  <p>
    Para localizar o melhor local de doação clique <a href="http://hemoheroes.herokuapp.com/#onde">aqui</a>.
  </p>
  <p>
    Para obter os requisitos de doação clique <a href="http://hemoheroes.herokuapp.com/dashboard">aqui</a>.
  </p>
</div>

<div class="u-text-align-center">
</div>

</div>
</div>
</div>
</body>
</html>
