<!DOCTYPE html>
<html>
<head>
<style>
.Email {
  width: 540px;
  height: 850px;
  overflow:hidden;
  background: #E9E7E8 url("https://goo.gl/I2V9hU") top repeat-x;
}
.Email-content {
  background: #fff;
  width: 400px;
  height: 750px;
  margin: 55px auto;
  border-radius: 5px;
  z-index:2;
}
</style>
</head>


<body>
  <div>

    <div class="Email">

      <div class="Email-content">
        <div class="Email-content-head" style="height: 100px;
        margin: 10px;
        font-size: 33pt;
        text-align: center;">
        <img src="https://goo.gl/a2bHK2" width="100" height="100" />
      </div>

      <div class="Email-content-body" style="width: 370px;
      height: 310px;
      margin: auto;
      text-align: center;
      font-family: sans-serif;">
      <h2 style="color: #fe4b4a; font-size:2.3rem;">Bem-vindo ao HemoHeroes </h2>
      <span>Que bom que nós encontramos você <%= @user.name %></span>
      <p>
        Você acaba de se cadastrar na nossa plataforma, agora poderá ajudar a salvar vidas e obter
        todas as infomações necessárias para facilitar sua doação de sangue.
      </p>
      <p>
        Observação: Você pode comparecer diretamente no banco de sangue. Consulte horários de funcionamento.
      </p>

      <p>
        Para localizar o melhor local de doação clique <a href="http://hemoheroes.herokuapp.com/#onde">aqui</a>.
      </p>
      <p>
        Para obter os requisitos de doação clique <a href="http://hemoheroes.herokuapp.com/requisitos">aqui</a>.
      </p>
      <p>
        <h4>REQUISITOS MINIMOS</h4>

        <ul>
          <li class="u-margin-bottom-small u-font-07em u-align-justify">Estar em boas condições de saúde.</li>
          <li class="u-margin-bottom-small u-font-07em u-align-justify">Portar documento de identificação oficial, com foto – RG ou Carteira de Habilitação.</li>
          <li class="u-margin-bottom-small u-font-07em u-align-justify">Ter entre 16 e 69 anos, desde que a primeira doação tenha sido feita até 60 anos (menores de 18 anos devem estar acompanhados do responsável legal e trazer documentos. Entre em contato com o banco de sangue para maiores informações).</li>
          <li class="u-margin-bottom-small u-font-07em u-align-justify"> Estar alimentado, mas evite alimentos gordurosos nas 4 horas que antecedem a doação.</li>
          <li class="u-margin-bottom-small u-font-07em u-align-justify"> Ter peso igual ou superior a 50 kg.</li>
          <li class="u-margin-bottom-small u-font-07em u-align-justify"> Estar descansado. Ter dormido pelo menos 6 horas nas últimas 24 horas.</li>
        </ul>

      <p>
        Caso queira receber notificações acesse o site Hemoheroes e clique na opção: receber novas solicitações <a href="http://hemoheroes.herokuapp.com/#sobre">aqui</a>
      </p>

    </div>

    <div class="u-text-align-center">
    </div>
  </div>
</div>
</div>

<!-- Analytics Rails -->
<img src='<%="http://www.google-analytics.com/collect?v=1&t=event&ec=Email&tid=UA-88241650-1&z=1480527104&cid=#{@user.id}&ea=open&el=#{@user.id}"%>'>

</body>
</html>
