
.u-font-size10{
  font-size: 10px;
}

.u-font-size12{
  font-size: 12px;
}

.u-font-size14{
  font-size: 14px;
}

.u-font-size16{
  font-size: 16px;
}

.u-font-size18{
  font-size: 18px;
}

.u-font-size20{
  font-size: 20px;
}

.u-font-size22{
  font-size: 23px;
}
.u-font-size24{
  font-size: 24px;
}
.u-font-size26{
  font-size: 26px;
}
.u-font-size28{
  font-size: 28px;
}
.u-font-size30{
  font-size: 30px;
}
.u-font-size32{
  font-size: 32px;
}

.u-font-size34{
  font-size: 34px;
}

.u-font-size36{
  font-size: 36px;
}

.u-font-size38{
  font-size: 38px;
}
.u-font-size40{
  font-size: 40px;
}
.u-font-size42{
  font-size: 42px;
}
.u-font-size44{
  font-size: 44px;
}
.u-font-size46{
  font-size: 46px;
}

.u-font-size48{
  font-size: 48px;
}
.u-font-size50{
  font-size: 50px;
}

.u-font-size70{
  font-size: 70px;
}
