
.u-font-size10{
  font-size: 10px !important;
}

.u-font-size12{
  font-size: 12px !important;
}

.u-font-size14{
  font-size: 14px !important;
}

.u-font-size16{
  font-size: 16px !important;
}

.u-font-size18{
  font-size: 18px !important;
}

.u-font-size20{
  font-size: 20px !important;
}

.u-font-size22{
  font-size: 23px !important;
}
.u-font-size24{
  font-size: 24px !important;
}
.u-font-size26{
  font-size: 26px !important;
}
.u-font-size28{
  font-size: 28px !important;
}
.u-font-size30{
  font-size: 30px !important;
}
.u-font-size32{
  font-size: 32px !important;
}

.u-font-size34{
  font-size: 34px !important;
}

.u-font-size36{
  font-size: 36px !important;
}

.u-font-size38{
  font-size: 38px !important;
}
.u-font-size40{
  font-size: 40px !important;
}
.u-font-size42{
  font-size: 42px !important;
}
.u-font-size44{
  font-size: 44px !important;
}
.u-font-size46{
  font-size: 46px !important;
}

.u-font-size48{
  font-size: 48px !important;
}
.u-font-size50{
  font-size: 50px !important;
}
