.u-margin-top-small{
  margin-top: 10px;
}

.u-margin-top-medium{
  margin-top: 20px;
}

.u-margin-top-large{
  margin-top: 30px;
}

.u-margin-bottom-small{
  margin-bottom: 10px;
}

.u-margin-bottom-medium{
  margin-bottom: 20px;
}

.u-margin-bottom-large{
  margin-bottom: 30px;
}

.u-margin-right-small{
  margin-right: 10px;
}

.u-margin-right-medium{
  margin-right: 20px;
}

.u-margin-right-large{
  margin-right: 30px;
}

.u-margin-right-small{
  margin-right: 10px;
}

.u-margin-right-medium{
  margin-right: 20px;
}

.u-margin-right-large{
  margin-right: 30px;
}

.u-margin-left-small{
  margin-left: 10px;
}

.u-margin-left-medium{
  margin-left: 20px;
}

.u-margin-left-large{
  margin-left: 30px;
}

.u-margin{
  margin: 30px;
}

.u-margin-10{
  margin: 10px;
}
