.u-margin-top-small{
  margin-top: 10px;
}

.u-margin-top-medium{
  margin-top: 20px;
}

.u-margin-top-large{
  margin-top: 30px;
}

.u-margin-bottom-small{
  margin-bottom: 10px;
}

.u-margin-bottom-medium{
  margin-bottom: 20px;
}

.u-margin-bottom-large{
  margin-bottom: 30px;
}
.u-margin{
  margin: 30px;
}

.u-margin-10{
  margin: 10px;
}
