.u-margin-top-small{
  margin-top: 6px !important;
}

.u-margin-top-medium{
  margin-top: 12px !important;
}

.u-margin-top-large{
  margin-top: 35px !important;
}

.u-margin-bottom-small{
  margin-bottom: 6px !important;
}

.u-margin-bottom-medium{
  margin-bottom: 12px !important;
}

.u-margin-bottom-large{
  margin-bottom: 35px !important;
}

.u-margin-right-small{
  margin-right: 6px !important;
}

.u-margin-right-medium{
  margin-right: 12px !important;
}

.u-margin-right-large{
  margin-right: 35px !important;
}

.u-margin-right-small{
  margin-right: 6px !important;
}

.u-margin-right-medium{
  margin-right: 12px !important;
}

.u-margin-right-large{
  margin-right: 35px !important;
}

.u-margin-left-small{
  margin-left: 6px !important;
}

.u-margin-left-medium{
  margin-left: 12px !important;
}

.u-margin-left-large{
  margin-left: 35px !important;
}
.u-margin-left{
  margin-left: 110px !important;
}

.u-margin{
  margin: 30px !important;
}
.u-margin-small{
  margin: 6px;
}

.u-margin-10{
  margin: 10px !important;
}
.u-margins-30{
  margin: 30px 30px 30px 30px;
}
.u-margin-top-0{
  margin-top: 0;
}
.u-margin-auto{
  margin: auto;
}
.u-margin-left-feedback{
  margin-left: 20px;
}
