.u-padding-0-0-0-10{
  padding: 0 0 0 10px;
}

.u-padding-0-0-0-5 {
  padding: 0 0 0 5px;
}
.u-padding-0-25-0-0{
  padding: 0 25px 0 0;
}


.u-padding-top{
  padding-top: 5px;
}

.u-padding-right{
  padding-right: 10px;
}

.u-padding-bottom{
  padding-bottom: 15px;
}
.u-padding-left{
  padding-left: 20px;
}
