.u-padding-0-0-0-10{
  padding: 0 0 0 10px !important;
}
.u-padding-20-0-0-10{
  padding: 20px 0 0 10px !important;
}
.u-padding-0-0-0-5 {
  padding: 0 0 0 5px !important;
}
.u-padding-0-25-0-0{
  padding: 0 25px 0 0 !important;
}

.u-padding-top{
  padding-top: 20px !important;
}

.u-padding-top-10{
  padding-top: 10px !important;
}

.u-padding-right{
  padding-right: 20px !important;
}

.u-padding-bottom{
  padding-bottom: 20px !important;
}
.u-padding-left{
  padding-left: 20px !important;
}
.u-padding-left-10{
  padding-left: 10px !important;
}
.u-padding-left-100{
  padding-left: 100px !important;
}
.u-padding{
  padding: 30px;
}
