@import '../variables';

body {
  font-family: 'Open Sans', 'Arial';
  margin: 0;
  font-size: 14px;
  background: (0, 0%, 97%, 1);
  line-height: initial;
  padding: 0;
  @include desktop{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
}

a {
  color: $dark-font-color;
}

main {
  @include desktop {
    flex: 1;
  }
}

label {
  font-size: 1rem;
}

h1 {
  color: $brand-color;
  font-size: 2.7rem;
  @include mobile{
    font-size: 2rem;
  }
  @include tablet{
    font-size: 2rem;
  }

}

h2 {
  color: $brand-color;
  font-size: 2.3rem;
  @include mobile {
    padding-top: 50px;
    font-size: 1.6rem;
  };
}

h3 {
  font-size: 1.7rem;
}
h4{
  font-size: 1.3rem;
}
