
<%= alert %>

<section class="Section u-align-center u-outerWrapper">
    <h3>Seja bem vindo ao HemoHeroes!</h3>
    <p>Caso seu tipo sanguíneo seja solicitado entraremos em contato por email</p>


  <div class="Container Container--invisible u-margin-auto u-margin-top-large u-size6of12">
    <h4>Veja se você atende os requisítos básicos</h4>

    <ul>
      <li class=" u-align-left">Estar em boas condições de saúde</li>
      <li class=" u-align-left">Estar entre 16 e 69 anos</li>
      <li class=" u-align-left"> Estar alimentado, mas evite alimentos gordurosos nas três horas que antecedem a doação. Caso seja após o almoço, aguardar duas horas</li>
      <li class=" u-align-left"> Ter peso igual ou superior a 50 kg</li>
      <li class=" u-align-left"> Ter dormido pelo menos seis horas nas últimas 24 horas</li>

    </ul>

    <h4>Verifique os impedimentos temporários</h4>
    <ul>
      <li class=" u-align-left">Estar bem de saúde. Ou seja, se estiver gripado, resfriado, com febre, espere 7 dias após o desaparecimento dos sintomas;</li>

      <li class=" u-align-left">Período gestacional;</li>

      <li class=" u-align-left">Período pós-gravidez: 90 dias para parto normal e 180 dias para cesariana;</li>

      <li class=" u-align-left"> Amamentação;</li>

      <li class=" u-align-left">Ingestão de bebida alcoólica nas 12 horas que antecedem a doação;</li>

      <li class=" u-align-left"> Tatuagem e/ou piercing nos últimos seis meses (piercing em cavidade oral ou região genital impedem a doação);</li>

      <li class=" u-align-left"> Não ter feito exames/procedimentos com utilização de endoscópio nos últimos seis meses;</li>

      <li class=" u-align-left">Comportamento de risco para doenças sexualmente transmissíveis: aguardar 12 meses.</li>

    </ul>

  </div>

</section>
