<%= alert %>
<div class="Grid Grid--withGutter">
  <div class="Container u-padding">
    <div class="Grid-cell u-sizeFull u-align-center">
        <h2>Hemo Heroes</h2>
        <p>Obrigado por se cadastrar no HemoHeroes!</p>

        <p>Caso seu tipo sanguíneo seja solicitado entraremos em contato por email</p>
    </div>
  </div>
</div>
