<%= alert %>
<section class="Section u-align-center u-outerWrapper">
  <h3>Obrigado por se cadastrar no HemoHeroes!</h3>

  <p>Caso seu tipo sanguíneo seja solicitado entraremos em contato por email</p>
</section>
<section class="Section u-align-center u-outerWrapper">
    <div class="Container u-size6of12 u-outerWrapper">
      <h3>Requisitos básicos para doar:</h3>
      <ul>
        <li class=" u-align-left">Estar em boas condições de saúde</li>
        <li class=" u-align-left">Estar entre 16 e 69 anos</li>
        <li class=" u-align-left"> Estar descansado</li>
        <li class=" u-align-left">Estar alimentado</li>
        <li class=" u-align-left">Pesar no mínimo 50kg</li>
      </ul>
    </div>
</section>
