<section class="u-outerWrapper u-margin-auto u-margin-top-xlarge">
  <div class="Nav-ajust"></div>
  <div class="Grid Grid--withGutter">
    <h2 class="u-margin-bottom-medium u-margin-left-medium u-font-size30">Solicitar doadores</h2>
    <div class="Grid-cell u-desktop-size8of12 u-tablet-sizefull u-mobile-sizefull">
      <%= render 'form', demand_blood_bank: @demand_blood_bank %>
    </div>
    <div class="Grid-cell u-desktop-size4of12 u-tablet-sizefull u-mobile-sizefull">
      <%= render 'confirmation_container' %>
    </div>
  </div>


  <div class="u-margin-top-large">
    <% if (@lastUpdateNecessity != nil) %>
    <span>Última atualização <%= @lastUpdateNecessity.updated_at.strftime("%d/%m/%Y - %H:%M:%S") %>
    </span>
    <% end %>
  </div>
</div>

</section>




<!-- MODAL ------------------------------------------>

<div class="Modal js-modalConfirmRequest Modal-overlay">

  <div class="Modal-content js-modalContent">
    <div class="Modal-header">
      <div class="Modal-stepBox">
        <div class="Modal-step">
          3
        </div>
      </div>
      <div class="Modal-titleBox">
        <h3 class="Modal-title">
          Confirmar solicitação
        </h3>
      </div>
    </div>

    <div class="Modal-body">
      <div class="u-sizeFull">
        <h2 class="Modal-subsTitle">Doadores Solicitados:</h2>
      </div>

      <div class="Grid">
        <div class="Grid-cell u-desktop-size5of12 u-tablet-size6of12 u-mobile-sizefull">

          <div class="Modal-typesRequest">
            <ul class="js-confirmRequestList">

            </ul>
          </div>
        </div>

        <div class="Grid-cell u-desktop-size7of12 u-tablet-size6of12 u-mobile-sizefull">
          <div class="Modal-confirmation">
            <span>
              Enviar solicitação aos doadores dos tipos sanguíneos necessários?
            </span>
            <div class="Button-group">
              <div class="Button Button--fluid u-size6of12 js-modalButton">
                Cancelar
              </div>
              <div onclick="Modal.open('.js-modalSuccessMessage')" class="Button Button--fluid u-size6of12 is-actived js-modalButton" >
                Confirmar
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- MODAL ------------------------------------------>

<div class="Modal js-modalSuccessMessage Modal-overlay">

  <div class="Modal-content js-modalContent">
    <div class="Modal-header">
      <div class="Modal-stepBox">
        <div class="Modal-step">
          4
        </div>
      </div>
      <div class="Modal-titleBox">
        <h3 class="Modal-title">
          Enviado com sucesso
        </h3>
      </div>
    </div>

    <div class="Modal-body">
      <div class="u-align-center u-padding-left u-padding-right">
        <span class="u-font-size20 ">Seu pedido de solicitação foi recebido com sucesso pela equipe do HemoHeroes.</span>
      </div>
      <div class="u-align-center u-padding-top u-padding-bottom">

        <div onclick="Modal.close('.js-modalSuccessMessage')">
          <%= button_to "OK", necessidadeBanco_path, method: :get, class:"Button Button--fluid u-size3of12 is-actived", id:"button-OK" %>
        </div>
      </div>
    </div>
  </div>
</div>
