<h1> Agradecemos sua colaboração</h1>
<p> Você só sera voltará a ser notificado quando estiver apto a doar novamente.</p>
<p> O intervalo de tempo para doar novamente é:</p>
<ul>
  <li>
    60 dias para homens
  </li>
  <li>
    90 dias para mulheres
  </li>
</ul>
  <!-- o seu intervalo de tempo entre a ultima for de <%= blood-donator.intervaltime </p> -->
