<div class="Container u-tablet-sizeFull">
  <div class="Container-header">
    <h3 class="Container-title u-margin-small"> Agradecemos sua colaboração </h3>
  </div>
  <div class="Container-body u-align-left">
    <p> Você só sera voltará a ser notificado quando estiver apto a doar novamente.</p>
    <p> O intervalo de tempo para doar novamente é:</p>
    <ul>
      <li>
        60 dias para homens
        <br />
      </li>
      <li>
        90 dias para mulheres
      </li>
    </ul>
  </div>
</div>
<!-- o seu intervalo de tempo entre a ultima for de <%= blood-donator.intervaltime </p> -->
