<% if flash[:manifesto_modal] %>
<div class="Modal js-modal js-modalLogin" style="opacity: 1; visibility: visible;">
  <div class="Modal-content js-modalContent" style="top: 50%;">
<% else %>
<div class="Modal js-modal js-modalLogin">
  <div class="Modal-content js-modalContent">
<% end %>

      <div class="Modal-header">
    <div class="Grid">
      <div class="Grid-cell u-sizeFull">
        <div class="Modal-titleBox">
          <h3 class="Modal-title">Login Unificado</h3>
        </div>
      </div>
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="Modal-body">
    <div class="Form Form--fluid">
      <div class="Grid">
        <div class="Grid-cell u-desktop-size1of12 u-mobile-sizeFull"></div>
        <div class="Grid-cell u-desktop-size9of12 u-mobile-sizeFull">
          <p>
            <%= alert %>
          </p>
            <div class="Form-group">
                <span class="Form-inputLabel u-size2of12">CPF/CNPJ:</span>
                <input type="text" class="Form-inputValue u-size10of12" name="document" />
            </div>
        </div>
        <div class="Grid-cell u-desktop-size2of12 u-mobile-sizeFull"></div>


        <div class="Grid-cell u-desktop-size1of12 u-mobile-sizeFull"></div>
        <div class="Grid-cell u-desktop-size9of12 u-mobile-sizeFull">
            <div class="Form-group">
                <span class="Form-inputLabel u-size2of12">Senha:</span>
                <%= f.password_field :password, class:"Form-inputValue u-size10of12", autocomplete: "off" %>
            </div>
        </div>
        <div class="Grid-cell u-desktop-size2of12 u-mobile-sizeFull">
        </div>

        <div class="Grid-cell u-desktop-size1of12 u-mobile-sizeFull"></div>
        <div class="Grid-cell u-desktop-size9of12" style="text-align:right; padding: 10px 5px 0 0;" >

          <div class="Button-group u-float-right">
            <div class="Button" onclick="Modal.close('.js-modalLogin')">
              Voltar
            </div>
            <%= f.submit "Login", class:"Button is-actived" %>
          </div>
        </div>
        <div class="Grid-cell u-desktop-size2of12 u-mobile-sizeFull"></div>
      </div>
    </div>
  </div>
  <% end %>


</div>
