@import "variables";

.Button {
  $canceled-background-color: #e74c3c;
  $actived-background-color: #38C272;
  $default-background-color: #f1f1f1;

  background: $default-background-color;
  color: $dark-font-color;
  padding: 12px;
  font-weight: 700;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border: 0;
  font-size: 0.9rem;

  &:hover {
    background-color: scale-color($default-background-color, $lightness: -10%);
    cursor: pointer;
  }

  &-group {
    margin: 12px -6px;
    display: flex;

    & .Button {
      margin: 0px 6px;
    }
  }

  &--large {
    padding: 20px;
    font-size: 16px;
  }

  &--small {
    padding: 10px;
    font-size: 10px;
  }

  &--fluid {
    width: 100%;
  }

  &.is-canceled{
    background: $canceled-background-color;
    color: $light-font-color;
    &:hover{
      background-color: scale-color($canceled-background-color, $lightness: -10%);
    }
  }

  &.is-actived{
    background: $actived-background-color;
    color: $light-font-color;
    &:hover{
      background-color: scale-color($actived-background-color, $lightness: -10%);
    }
  }


  &.is-disabled{
    cursor: not-allowed;
    pointer-events: none;

  }

}

// classes abaixo usadas para identificar elementos pelo js

.js-nextButton {

}


.js-confirmRequest {

}
