@import "../variables";

.Button {
  $canceled-background-color: #e74c3c;
  $actived-background-color: #2ecc71;
  $default-background-color: #CDC9C9;

  background: $default-background-color;
  color: $dark-font-color;
  padding: 12px;
  font-weight: 700;
  border-radius: 3px;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.25);
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid hsla(0, 10%, 65%, 1);
  font-size: 0.8rem;
  text-transform: uppercase;

  &:hover {
    background-color: scale-color($default-background-color, $lightness: -10%);
    cursor: pointer;
  }

  &-group {
    margin: 12px -6px;
    display: flex;

    & .Button {
      margin: 0px 6px;
    }
  }

  &--large {
    padding: 20px;
    font-size: 16px;
  }

  &--small {
    padding: 10px;
    font-size: 10px;
  }

  &--fluid {
    width: 100%;
  }
  &--medium{
    width: 180px;
  }

  &--invisible{
    background: none;
    box-shadow: none;
    border: 0;
    color: scale-color($light-font-color, $lightness: -40%);
    &:hover {
      background: none;
      color: scale-color($light-font-color, $lightness: -70%);
    }
  }


  &.is-canceled{
    background: $canceled-background-color;
    color: $light-font-color;
    &:hover{
      background-color: scale-color($canceled-background-color, $lightness: -10%);
    }
  }

  &.is-actived{
    background: $actived-background-color;
    color: $light-font-color;
    border-color: scale-color($actived-background-color, $lightness: -25%);
    &:hover{
      background-color: scale-color($actived-background-color, $lightness: -10%);
    }
  }


  &.is-disabled{
    cursor: not-allowed;
    pointer-events: none;
    color: scale-color($default-background-color, $lightness: -25%);
    box-shadow: none;
    border: 0;
  }

}
