.Container{
  float: left;
  border: 3px solid #cecccc;
  border-radius: 3px;

  &-header{
    width:100%;
    box-sizing: border-box;
    padding: 12px 35px;
    background-color: #6495ED;

    &-text{
      color: #fff;
    }
  }

  &-section{
    padding: 12px 35px 35px;
    box-sizing: border-box;
    min-height: 100px;
  }

  &-step{
    background: #ffffff;
    border-radius: 100%;
    float: left;
    text-align: center;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    margin: 8px 0 0 15px;

    & span{
      text-align: center;
      padding: 10px 10px 10px 10px;
      font-weight: 800;
      line-height: 60px;
      font-size: 30px;
      color: black;
    }
  }

}
.isCenter{
  padding: 0px 30px 0px 30px;
  margin-left: 100px;
}
