@import "variables";

.Container{
  float: left;
  border: 3px solid #cecccc;
  border-radius: 15px;
  overflow: hidden;



  &-header{
    width:100%;
    box-sizing: border-box;
    padding: 12px 25px;
    background-color: #6495ED;

    &-text{
      color: #fff;
    }
  }

  &-section{
    padding: 12px 25px 25px;
    box-sizing: border-box;
    min-height: 100px;
  }

  &-body{
    background-color: $body-color;
    overflow: auto;
  }

  &-step{
    background: #ffffff;
    border-radius: 100%;
    float: left;
    text-align: center;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin: 8px 0 0 15px;

    & span{
      text-align: center;
      padding: 10px 10px 10px 10px;
      font-weight: 800;
      line-height: 50px;
      font-size: 25px;
      color: black;
    }
  }

}
.isCenter{
  padding: 0px 30px 0px 30px;
  margin-left: 100px;
}
