@import "variables";

.Container{
  float: left;
  border: 3px solid #cecccc;
  border-radius: 15px;
  overflow: hidden;
  @include mobile{;
    margin: 30px;
    align-content: center;
  }

  &-header {
    width:100%;
    box-sizing: border-box;
    padding: 12px 25px;
    background-color: #6495ED;

    @include mobile {;
      padding: 10px;
    }
  }

  &-titleBox {
    display: flex;
    align-items: center;
  }

  &-title {
    color: $light-font-color;
    font-size: 1.2rem;
    @include mobile {
      font-size: 1.4rem;
    }
  }

  &-text {
    color: #fff;
    display: inline;
    float: inherit;
    align-items: center;
    @include mobile{;
      float:right;
      font-size: 14pt;
      text-align: justify;
      width:calc(100vw - 110px);
    }
  }

  &-body {
    text-align: justify;
    padding: 12px 25px 25px;
    box-sizing: border-box;
    min-height: 100px;
    background-color: $body-color;
    overflow: auto;
    padding: 15px;
    @include mobile {;
      padding: 10px;
    }

  }


  &-stepBox {
    background: #ffffff;
    border-radius: 100%;
    float: left;
    text-align: center;
    width: 50px;
    height: 50px;
    display: flex;
    margin: 8px 0 0 0;
    align-items: center;

    & span {
      text-align: justify;
      font-weight: 800;
      line-height: 50px;
      font-size: 25px;
      color: black;
    }
  }

  &-step {
    font-size: 18px;
    font-weight: 800;
    margin: auto;
  }


  .isCenter {
    padding: 0px 30px 0px 30px;
    margin-left: 100px;
  }

}
