@import "../variables";

.Container {
  border: 1px solid $border-color;
  border-radius: 5px;
  overflow: hidden;
  @include tablet {
    margin: 40px;
  }
  @include mobile {
    margin: 5px;
    max-width: 96%;
  }

  &-header {
    width:100%;
    box-sizing: border-box;
    padding: 12px 25px;
    background-color: hsla(0, 0%, 85%, 1);

    @include mobile {
      padding: 10px;
    }
  }

  &-titleBox {
    display: flex;
    align-items: center;
    @include mobile{
      padding-left: 15px;
    }
  }

  &-title {
    color: $dark-font-color;
    font-size: 1.2rem;
    @include mobile {
      font-size: 1rem;
    }
  }

  &-text {
    color: #fff;
    display: inline;
    float: inherit;
    align-items: center;
    @include mobile{;
      float:right;
      font-size: 14pt;
      text-align: justify;
      width:calc(100vw - 110px);
    }
  }

  &-body {
    text-align: center;
    padding: 12px 25px 25px;
    box-sizing: border-box;
    min-height: 100px;
    background-color: $body-color;
    overflow: auto;
    padding: 15px;
    @include mobile {
      padding: 10px;
    }
  }

  &-footer {
    padding: 12px 15px 0;
    border-top: 1px solid $border-color;
    overflow: auto;
    margin: 15px -15px 0px;
  }

  &-stepBox {
    background: #ffffff;
    border-radius: 100%;
    float: left;
    text-align: center;
    width: 50px;
    height: 50px;
    display: flex;
    margin: 8px 0 0 0;
    align-items: center;

    & span {
      text-align: justify;
      font-weight: 800;
      line-height: 50px;
      font-size: 25px;
      color: black;
    }
  }

  &-step {
    font-size: 18px;
    font-weight: 800;
    margin: auto;
  }


  .isCenter {
    padding: 0px 30px 0px 30px;
    margin-left: 100px;
  }

  &--centralize {
    margin: auto;
    float:none;
  }

  &--primary {
    & .Container-header {
      background: $brand-color;
    }
    & .Container-title {
      color: $light-font-color;
    }
  }

  &--invisible {
    line-height: 21px;
    display: flex;
    flex-direction: column;
    border: 2px solid $brand-color;
    box-shadow: 0px 1px 3px hsla(3, 50%, 50%, 1);
    @include desktop{
      width: 50%;
    };
  }
}
