@import "variables";

.Container{
  float: left;
  border: 3px solid #cecccc;
  border-radius: 15px;
  overflow: hidden;
  @include mobile{;
    margin-top: 20px;
  }



  &-header{
    width:100%;
    box-sizing: border-box;
    padding: 12px 25px;
    background-color: #6495ED;

    @include mobile {;
      padding: 10px;
    }

    &-text{
      color: #fff;
      display: inline;
      float: inherit;
      align-items: center;
      @include mobile{;
        float:right;
        font-size: 14pt;
        text-align: justify;
        width:calc(100vw - 110px);
      }
    }
  }

  &-body{
    padding: 12px 25px 25px;
    box-sizing: border-box;
    min-height: 100px;
    background-color: $body-color;
    overflow: auto;
    padding: 15px;
    @include mobile {;
      padding: 30px;
    }

  }

  &-step{
    background: #ffffff;
    border-radius: 100%;
    float: left;
    text-align: center;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin: 8px 0 0 15px;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
    margin: auto;
  }
  & span{
    text-align: center;
    padding: 10px 10px 10px 10px;
    font-weight: 800;
    line-height: 50px;
    font-size: 25px;
    color: black;
  }


  .isCenter{
    padding: 0px 30px 0px 30px;
    margin-left: 100px;
  }

}
