@import "../variables";

.Email {
  width: 540px;
  height: 675px;

  &-boxTop {
    width: 100%;
    height: 115px;
    background: $brand-color;
  }
  &-boxBody {
    background: #E9E7E8;
    height: 560px;
    margin:auto;
    text-align:center;
  }
  &-content {
    background: $body-color;
    width: 400px;
    height: 540px;
    margin: 0 auto;
    border-radius:5px;
    z-index:2;
    position:absolute;
    top: 55px;
    left: 70px;

    &-head{
      height:100px;
      margin:10px;
      font-size:33pt;
      text-align:center;
    }

    &-body{
      width:370px;
      height:310px;
      margin:auto;
      text-align:center;
      font-family: sans-serif;
    }

    &-contentButtons{
      height: 50px;
      width:370px;
      margin: auto;
    }

  }


}
