@import "../variables";

.Footer {
  background-color: $brand-color;
  width: 100%;

  @include mobile{
    display: flex;
    justify-content: center;
  };
  &-content {
    // padding: 21px;
  }

  &-links {
    @include desktop{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
    & a {
      color: $light-font-color;
      text-transform: uppercase;
      font-weight: 600;
      text-decoration: none;
      cursor: pointer;
      padding: 19px 15px;
      @include mobile {
        text-align: center;
        display: flex;
        flex-direction:column;
        padding: 4px;
      }
      &:hover {
        color: scale-color($light-font-color, $lightness: -7%);
      }
    }
  }

&-facebook-icon {

  width: 30px;
  height: 30px;
  @include mobile{
    display: flex;
    align-self: center;
};
}
}
