@import "../variables";

.Footer {
  background-color: $brand-color;
  width: 100%;

  &-content {
    padding: 21px;
  }

  &-links {

    & a {
      color: $light-font-color;
      text-transform: uppercase;
      font-weight: 600;
      text-decoration: none;
      cursor: pointer;
      padding: 19px 15px;
      &:hover {
        background: $border-color;
      }
    }
  }

}
