@import 'variables';
.Form {

  &-group {
    margin: 25px 0 0 0;
    overflow: auto;
    display: flex;
    align-items: center;
    padding: 10px;
    @include mobile{
      display: inline;
      margin: 10px;
    }
  }

  &-groupBlock {
    margin: 5px 0 0 0;
    display: block;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    @include mobile{
      display: inline;
      margin: 10px;
    }
  }

  &-groupDemand{
    margin: 25px 0 0 0;
    overflow: auto;
    display: flex;
    align-items: center;
  }

  &-inputLabel {
    font-size: 12px;
    font-weight: 600;
    display: inline-flex;
  }

  &-inputValue {
    border-radius: 3px;
    border: 1px solid #c1c1c1;
    padding: 12px 6px;
    font-size: 15px;
    font-weight: 400;
    box-sizing: border-box;
    width: 100%;
    // margin: 0 0 0 20px;

    &:focus {
      outline: 0;
    }
  }

  &--fluid {

    & .Form-inputLabel{
      min-width: 95px;
      text-align: right;
      display: inline;
      padding: 0 12px 0 0;

    }
  }

  &--large {
    & .Form-inputLabel{
      font-size: 25px;
      line-height: 67px;
      display: inline;
      text-align: right;
      padding: 0 12px 0 0;
      @include mobile {
        font-size:12pt;
        width: 100px;
      };
    }

    & .Form-inputValue{
      padding: 10px;
      font-size: 25px;
    }

    & .Form-inputDescription {
      font-size: 1.4rem;
      color: scale-color($dark-font-color, $lightness: 10%);
      @include mobile{
        font-size: 1rem;
      }
    }
  }

}
