@import '../variables';

.HeroImage {
  $font-color: $dark-font-color;
  color: $font-color;
  width: 100%;
  max-height: 100vh;
  min-height: 500px;
  left: 0;
  top: 0;
  position: relative;
  background-size:cover;
  @include mobile {
    padding: 35px 15px;
  }
  @include tablet {
    padding: 35px 15px;
  }

  &-content{
    // flex-direction: column;
    display: flex;
    // align-items: center;
    padding: 200px 0;
    max-width: 1100px;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
  }

  &-background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: -2;
    // background-image: url("./../bench-people-smartphone-sun.jpg");
    background-size: cover;
    background-blend-mode: lighten;
    background-color: hsla(0,100%,100%,0);
    background-position: top;
  }

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    position: absolute;
    background: hsla(0, 0%, 0%, 0.1);
    width: 100%;
    height: 100%;
    z-index: -1;
  }


  &-boxLeft {
    max-width: 60%;
  }

  &-boxRight {
    max-width: 40%;
    width: 100%;
    text-align: left;

    & .Button {
      color: $light-font-color;
      border: 0px;
      background: $brand-color;
      font-weight: 600;
      font-size: 1.7em;
      box-shadow: 0px 3px 0px 0px hsl(0, 70%, 45%);
      &:hover {
        background-color: scale-color($brand-color, $lightness: -10%);
      }
      & span {
        vertical-align: -1.4px;
        color: #c32423;
      }
    }
  }

  &-title {
    color: $font-color;
    font-size: 2.5em;
    font-weight: 500;
    overflow: visible;
    max-width: 75%;
    font-weight: 600;
    line-height: 1.3em
  }

  &-subtitle {
    max-width: 70%;
    color: $font-color;
    font-size: 1.5em;
    overflow: visible;
  }

  &-benefits {
    margin: 25px 0 0 -20px;
    font-size: 1.3em;
    line-height: 1.7em;
    color: scale-color($dark-font-color, $lightness: 20%);

    & ul {
      margin: 0;
      text-align: left;
      list-style: none;
    }
    & img{
      height: 18px;
      position: relative;
      top: 2px;
      margin-right: 2px;
    }
  }

  &-friends {
    width: 50%;
    position: absolute;
    bottom: 30px;
  }

  &-partners {
    width: 230px;
    position: absolute;
    bottom: 30px;
    right: 0;
    text-align: center;

    & img {
      height: 30px;
      opacity: 0.4;
      display: block;
      margin: 0 6px;
      float: right;
    }
  }

  &-learnMore {
    height: 50px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -77px;
    text-align: center;
    font-size: 1.5em;
  }

}
