@import '../variables';

.HeroImage{
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size:cover;
  background-image: url("http://i3.dailyrecord.co.uk/incoming/article3147435.ece/ALTERNATES/s1200/Young-blood-donors.jpg");
  padding: 85px 0;
  @include mobile {
    padding: 35px 15px;
  }
  @include tablet {
    padding: 35px 15px;
  }
}
