@import '../variables';

@keyframes move {
  0% {
    top: 1px;
  }

  50% {
    top: 6px;
  }

  100% {
    top: 1px;
  }
}

@mixin blur {
  // content: " ";
  // width: 100%;
  // height: 100%;
  // position: absolute;
  // z-index: -1;
  // filter: blur(20px);
  // border-radius: 120px;
  // background: hsla(0, 100%, 100%, 0.5);
  // transform: scale(1.5);
}

.HeroImage {
  //background escuro fonte clara
  //**********************************
  // $background-image: image-url("/assets/bench-people-smartphone-sun.jpg");
  // // $background-image:  image-url("/assets/blood-donators.jpg");
  // $font-color: $light-font-color;
  // $background-gradient: linear-gradient(rgba(0, 0, 0, 0.3) 10.2%, transparent 40%), linear-gradient(transparent 73%, rgba(0, 0, 0, 0.4) 86.2%);
  // $text-shadow: 0px 1px 13px hsla(0, 0%, 0%, 0.7);
  // $header-background-color: #FFFFFF;

  //background claro fonte escura
  //**********************************
  $background-image:  image-url("/assets/pexels-photo-127873.jpg");
  $font-color: $dark-font-color;
  $background-gradient: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.9) 60%);
  $text-shadow: 0px 1px 13px hsla(0, 100%, 100%, 0.7);
  $header-background-color: #FFFFFF;

  //fonte fina/grossa
  //**********************************
  $button-font-weight: 400;
  // $button-font-weight: 600;

  //fonte headline fin/grossa
  $head-line-font-weight: 400;
  //$head-line-font-weight: 600;

  left: 0;
  top: 0;
  color: $font-color;
  font-size: 1rem;
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  padding: 15px 75px 30px 75px;
  box-sizing: border-box;
  background-size:cover;
  background-image: $background-image;
  background-blend-mode: lighten;
  background-color: hsla(0,100%,100%,0);
  background-position: center;
  position: relative;
  overflow: hidden;


  &:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    position: absolute;
    background: $background-gradient;
    width: 100%;
    height: 100%;
  }
  @include mobile {
    padding: 0px 0px;
    margin: 0;
    font-size: 1.3em;
    min-height: 100vh;
  }
  @include tablet {
    padding: 35px 15px;
  }

  &-wrapper {
    width: 100%;
    position: relative;
    max-width: 1090px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include mobile{
      flex-wrap: wrap;
      font-size: 0.5em;
      flex-flow: column;
    }
  }

  &-header {
    width: 100%;
    z-index: 8;
    &.is-scrolling {
      background: $header-background-color;
    }
  }

  &-headerContent{
    padding: 12px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-headerHamburger {
    @include mobile {
      background-image: url("https://goo.gl/HLr9Vl");
      width: 50px;
      height: 40px;
      background-size: 100%;
      position: absolute;
      left: 12px;
      top: 12px;
    }
  }

  &-headerLogo {
    font-size: 2rem;
    font-weight: 900;
    float: left;
    position: relative;
    display: flex;
    @include mobile {
      padding: 0 0 12px;
      font-size: 2rem;
      margin: auto;

    }
    & a {
      text-decoration: none;
      color: $brand-color;
    }
    & img {
      margin-right: 12px;
    }

    &:before {
      @include blur;
    }
  }

  &-headerLinks {
    float: right;
    @include mobile {
      text-align: center;
      width: 100vw;
      position: absolute;
      top: 65px;
      background: white;
      opacity: 0.95;
      z-index: 10;
      left: 0;
      display: none;
      min-width: 100%;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
      font-size: 1.8em;
    }
    & ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    & li {
      display: inline;
      @include mobile{
        display: block;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        border-top: 1px solid $border-color;
      }
    }
    & a {
      color: #333333;
      text-transform: uppercase;
      font-weight: 600;
      text-decoration: none;
      cursor: pointer;
      padding: 19px 15px;
      &:hover {
        background: none;
      }
    }
  }

  &-content {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    text-align: left;
    @include mobile{
      flex-grow: 1;
      margin-top: 10%;
      flex-wrap: wrap;
      flex-flow: column;
      text-align: center;
      padding: 0 25px;
    }
  }

  &-headlineBox {
    flex-grow: 2;
    flex-basis: 0;
    @include mobile {
      flex-grow: 1;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
    }
    & > div {
      max-width: 500px;
      @include mobile {
        max-width: none;
      };
    }
  }

  &-headline {
    color: $font-color;
    font-size: 2.3em;
    overflow: visible;
    font-weight: $head-line-font-weight;
    line-height: 1.3em;
    text-shadow: $text-shadow;
    position: relative;
    &:before {
      @include blur;
    }
  }

  &-subHeadline {
    color: $font-color;
    font-size: 1.5em;
    overflow: visible;
    text-shadow: $text-shadow;
    position: relative;
    @include mobile {
      margin: 12px 0 0 0;
      font-weight: 600;
    }
    &:before {
      @include blur;
    }
  }

  &-benefitsBox{
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile {
      justify-content: center;
    }

    & .Button {
      color: $light-font-color;
      background: $brand-color;
      border: 0px;
      border-radius: 6px;
      font-weight: $button-font-weight;
      font-size: 1.5em;
      box-shadow: 0px 3px 8px 0px hsla(0, 100%, 12%, 0.3);
      border-bottom: 3px solid scale-color($brand-color, $lightness: -25%);
      &:hover {
        background-color: scale-color($brand-color, $lightness: -10%);
      }
      & span {
        vertical-align: -1.5px;
        color: #c32423;
      }

    }
  }

  &-benefits {
    margin: 25px 0 0 -20px;
    font-size: 1.3em;
    line-height: 1.7em;
    color: scale-color($font-color, $lightness: 5%);
    text-shadow: $text-shadow;
    position: relative;
    @include mobile{
      position: fixed;
      display: none;
      margin: 0;
    };
    & ul {
      margin: 0;
      padding: 0;
      text-align: left;
      list-style: none;
    }
    & li:before {
      @include blur;
    }
    & img{
      height: 22px;
      position: relative;
      top: 4px;
      margin-right: 2px;
    }
  }

  &-footer {
    z-index: 2;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @include mobile{
      position:static;
      flex-direction: column;
    }
    & > div {
      flex-grow: 1;
      flex-basis: 0;
    }
  }

  &-friends {
    max-width: calc(100%/3);
    opacity: 0.7;
    overflow: hidden;
    &:hover {
      opacity: 1;
    }
  }

  &-partners {
    text-align: center;
    @include mobile{
      display: none;
    };
  }

  &-imagesBox {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    & img {
      height: 30px;
      display: block;
      margin: 0 12px;
    }
  }

  &-learnMore {
    height: 50px;
    position: relative;
    bottom: -10px;
    text-align: center;
    font-size: 1.4em;
    font-weight: 600;
    @include mobile{
      font-size: 1.6em;
      bottom: 15px;
      align-self: center;
    };
    &:before {
      @include blur;
    }
    & a {
      color: $dark-font-color;
      cursor: pointer;
      text-decoration: none;
      &:hover{
        color: $brand-color;
      }
    }
    & span {
      animation-name: move;
      animation-duration: 1.5s;
      animation-iteration-count: 3;
      animation-delay: 5s;
    }
  }

}
