@import 'variables';

.HowFunction {
  font-size: 14px;
  text-align: center;
  margin-bottom: 50px;
  color: scale-color($dark-font-color, $lightness: 20%);
  flex-direction: column;
  display: flex;
  width: 20%;
  align-items: center;

  a:hover {
    cursor: pointer;
    color: $brand-color;
  }

  @include mobile{
    margin-bottom: 25px;
    width: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-flow: column;
    padding: 0;
    font-size: 0.9em;
  };
  @include tablet{
    margin-bottom: 25px;
    width: 50%;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-flow: column;
    padding: 0;
    font-size: 0.9em;
  };
  &-name {
    font-size: 1.4em;
    font-weight: 500;
    margin: 12px 0 0 0;
    font-family: sans-serif;
    align-items: center;
    max-width: 80%;
    padding-bottom: 10px;
  }

  &-image {

    & img {
      height: 120px;
      @include mobile{
        height: 80px;

      };
    }
  }

  &-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
    @include mobile{
      margin-top: 40px;
    };
  }

}
