.Input{
  margin: 25px 0 0 0;
  overflow: auto;

  &-label{
    font-size: 12px;
    display: inline-block;
    padding:5px;
  }

  &-value{
    border-radius: 3px;
    border: 1px solid #c1c1c1;
    padding: 6px;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
  }

  &-description{
    font-size: 25px;
    display: inline-block;
    margin: 0 0 0 12px;
  }

  &--large{

    & .Input-label{
      font-size: 35px;
      line-height: 67px;
    }

    & .Input-value{
      padding: 10px;
      font-size: 40px;
    }
  }

  &--typeOfBloods{

  }
}
