@import 'variables';

.Map {
  font-size: 14px;
  text-align: center;
  margin-bottom: 50px;
  color: scale-color($dark-font-color, $lightness: 20%);

  &-name {
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &-image {
    border: 1px solid $border-color;
    border-radius: $container-radius;
    margin: 6px 0;

    & img {
      width: 100%;
    }
  }

  &-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
  }

}
