@import '../variables';

.Modal {
  $border-color: #c1c1c1;
  $overlay-background-color: rgba(0, 0, 0, 0.66);

  opacity: 0;
  transition: 0.4s all ease;
  visibility: hidden;

  &::after {
    background: $overlay-background-color;
    content: ' ';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &-content {
    border-radius: 5px;
    overflow: hidden;
    max-width: 550px;
    z-index: 2;
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    transition: 0.5s all ease;
    @include mobile {
      width: calc(100vw - 10px);
    };
  }

  &-header {
    background-color: $brand-color;
    overflow: auto;
    padding: 15px;
  }

  &-small{
    min-width: 350px;
    @include mobile{
      min-width: 290px;
    }
  }
  &-stepBox {
    background: #ffffff;
    border-radius: 100%;
    float: left;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
  }

  &-step {
    font-size: 18px;
    font-weight: 800;
    margin: auto;
  }

  &-titleBox {
    display: flex;
    align-items: center;
    height: 40px;
  }

  &-title{
    color: $light-font-color;
    font-size: 1.6rem;
    padding: 0 12px;
    margin: 0;
    @include mobile {
      font-size: 1.4rem;
    };
  }
  &-body {
    background-color: $body-color;
    overflow: auto;
    padding: 15px;
    height: 100%;
  }

  &-subTitle {
    font-size: 18px;
    margin: 6px 0 10px;
  }

  &-typesRequest {

  }
  Modal
  &-confirmation {
    border-left: 1px solid $border-color;
    float: right;
    padding: 0 15px;

    @include mobile {
      border-top: 1px solid $border-color;
      border-left: 0;
      text-align: center;
      padding: 25px 0 0;
      width: 100%;
    }
  }

  &-successMessage{
    font-size: 14px;
    padding: 0 15px;
  }

  &--textModal {
    color: black;
    font-size: 20px;
  }

  &-buttons {
    margin: 12px 0 0 10px;


    & .Button {
      margin: 0 10px;
    }

  }

}
