@import 'variables';

.Modal {
  $border-color: #c1c1c1;
  $overlay-background-color: rgba(0, 0, 0, 0.66);

  display: none;

  &::after {
    background: $overlay-background-color;
    content: ' ';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &-content {
    border: 1px solid $border-color;
    border-radius: 5px;
    max-width: 550px;
    z-index: 2;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &-header {
    background-color: #6495ED;
    overflow: auto;
    padding: 15px;
  }

  &-stepBox {
    background: #ffffff;
    border-radius: 100%;
    float: left;
    text-align: center;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    display: table;
  }

  &-step {
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }

  &-titleBox {
    margin: 10px;
    float: left;
    text-align: center;
    display: table;

  }

  &-title{
    color: $brand-color;
    font-size: 24px;
    vertical-align: middle;
    display: table-cell;
  }

  &-body {
    background-color: $body-color;
    overflow: auto;
    padding: 15px;
  }

  &-subTitle {
    font-size: 18px;
    margin: 6px 0 10px;
  }

  &-typesRequest {
    float: left;
    margin: 1%;

    & li {
      font-size: 14px;
      font-weight: bolder;
      margin: 5px;
      padding-top: 2px;
    }
  }

  &-confirmation {
    border-left: 1px solid $border-color;
    float: right;
    margin-top: 15px;
    padding: 0 15px;

    @include mobile {
      border-top: 1px solid $border-color;
      border-left: 0;
      text-align: center;

    }
  }

  &-buttons {
    margin: 12px 0 0 10px;


    & .Button {
      margin: 0 10px;
    }

  }

}
