@import "variables";

.Modal{
  max-width: 550px;
  margin: 30vh auto 0;
  border: 1px solid #c1c1c1;
  overflow: hidden;
  border-radius: 5px;
  display: none;

  &:after{
    content: " ";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.66);
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
  }

  &-header{
    background-color: #6495ED;
    overflow: auto;
    padding: 15px;
  }

  &-step{
    background: #ffffff;
    border-radius: 100%;
    float: left;
    text-align: center;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin: 12px 0 0 15px;
  }

  &-stepText{
    text-align: center;
    padding: 6px 0 0 0;
    font-weight: 800;
    width: 30px;
    height: 30px;
    font-size: 18px;
  }

  &-title{
    margin-top: 19px;
    padding-right: 50px;
    color: $brand-color;
    font-size: 24px;
    height: 0px;
  }

  &-body{
    overflow: auto;
    background-color:#F0FFFF;
    padding:15px;
  }

  &-subTitle{
    margin: 6px 0 10px 0;
    font-size: 18px;
  }

  &-typesRequest{
    float: left;
    margin: 1%;

    & li{
      margin: 5px;
      padding-top: 2px;
      font-size: 14px;
      font-weight: bolder;
    }

  }

  &-confirmation{
    margin-top: 15px;
    float: right;
    padding: 0 15px;
    border-left: 1px solid #c1c1c1;
  }

  &-buttons {
    margin: 12px 0 0 10px;


    & .Button{
      margin: 0 10px;
    }

  }

}
