@import "../variables";

.Navbar {

  $header-background-color: #FFFAF5;
  width: 100%;
  margin: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  z-index: 2;

  &-content{
    display: flex;
    padding: 15px;
    align-items: center;
  }

  &-hamburger {
    background-image: url("https://goo.gl/HLr9Vl");
    width: 50px;
    height: 40px;
    background-size: 100%;
    @include desktop{
      display: none;
    }
  }

  &-logo {
    font-size: 2rem;
    font-weight: 900;
    margin-left: 15px;
    & a {
      text-decoration: none;
      color: $brand-color;
    }
  }

  &-links {
    text-align: right;
    width: 100%;
    & ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    & li {
      display: inline;
    }
    & a {
      color: #333333;
      text-transform: uppercase;
      font-weight: 600;
      text-decoration: none;
      cursor: pointer;
      padding: 19px 15px;
      &:hover {
        background: $border-color;
      }
    }
  }

  @include mobile {
    .Navbar-logo {
      font-size: 1.7rem;
      margin: auto;
    }
    .Navbar-links {
      text-align: right;
      width: 100%;
      position: absolute;
      top: 60px;
      background: white;
      left: 0;
      display: none;
    }
    .Navbar-links li{
      display: block;
      width: 100%;
      text-align: center;
      padding: 20px 0;
      border-top: 1px solid $border-color;
    }
  }

}

.Nav-ajust{
  width: 100%;
  height: 80px;
}
