@import "variables";

.Navbar {
  $header-background-color: #FFFAF5;

  @include mobile {
    display: none;
  };

  @include tablet {
    display: none;
  };

  width: 100%;
  margin: 0 0 35px 0;
  border-bottom: 1px solid $border-color;

  &-content{
    display: flex;
    padding: 15px;
    align-items: center;
  }

  &-logo {
    font-size: 2rem;
    font-weight: 900;
    & a {
      text-decoration: none;
      color: $brand-color;
    }
  }

  &-links {
    text-align: right;
    width: 100%;

    & ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    & li {
      display: inline;
      padding: 0 15px;
    }
  }

}
