@import '../variables';

.Section {
  padding: 50px;


  @include mobile {
    padding: 35px 15px;
  }
  @include tablet {
    padding: 35px 15px;
  }

  & h2{
    color: $brand-color;
  }

  &-content {
    max-width: 990px;
    margin: auto;
    font-size: 1em;
    line-height: 1.6em;
  }

  &-text {
    text-align: justify; 
  }

  &--secondary {
    background: scale-color($body-color, $lightness: -3%);
  }

  &--small {

    & .Section-content {
      max-width: 600px;
    }

  }

}
