@import '../variables';

.Section {
  padding: 85px 0;
  @include mobile {
    padding: 35px 15px;
  }
  @include tablet {
    padding: 35px 15px;
  }

  &--secondary {
    background: scale-color($body-color, $lightness: -10%);
  }
}
