.Select {
  margin: 25px 0 0 0;
  overflow: auto;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #c1c1c1;
  padding: 6px;
  font-size: 15px;
  font-weight: 400;
  display: inline-block;
  box-sizing: border-box;
}
