
<h1 class="u-margin">Solicitar doadores</h1>

<div class="Grid Grid--withGutter">
  <div class="Grid-cell u-desktop-size8of12 u-tablet-sizefull u-mobile-sizefull">

    <%= render 'form', demand_blood_bank: @demand_blood_bank %>
  </div>
  <div class="Grid-cell u-desktop-size4of12 u-tablet-sizefull u-mobile-sizefull">

    <div class="Grid-cell sizefull">
      <div class="Container">
        <div class="Container-header">
          <div class="Grid">
            <div class="Grid-cell u-size4of12">
              <div class="Container-stepBox">
                <span class="Container-step">2</span>
              </div>
            </div>
            <div class="Grid-cell u-size8of12">
              <div class="Container-titleBox">
                <h3 class="Container-title"> Solicitar Doações </h3>
              </div>
            </div>
          </div>
        </div>
        <div class="Container-body">
          <p>Após informar a quantidade de doadores para cada tipo sanguíneo,
            clique aqui para continuar o pedido de solicitação.</p>

            <div class="u-float-center u-margin-bottom-medium">
              <div onclick="Modal.open('.js-modalConfirmRequest')"
              class= "Button Button--medium is-disabled js-nextButton">Avançar</div>
            </div>


          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="u-margin-top-large">
    <span>Última atualização <%= @lastUpdateNecessity %></span>
  </div>
</div>

<!-- MODAL ------------------------------------------>

<div class="Modal js-modalConfirmRequest">

  <div class="Modal-content js-modalContent">
    <div class="Modal-header">
      <div class="Modal-stepBox">
        <div class="Modal-step">
          3
        </div>
      </div>
      <div class="Modal-titleBox">
        <h3 class="Modal-title">
          Confirmar solicitação
        </h3>
      </div>
    </div>

    <div class="Modal-body">
      <div class="u-sizeFull">
        <h2 class="Modal-subsTitle">Doadores Solicitados:</h2>
      </div>

      <div class="Grid">
        <div class="Grid-cell u-desktop-size5of12 u-tablet-size6of12 u-mobile-sizefull">

          <div class="Modal-typesRequest">
            <ul class="js-confirmRequestList">

            </ul>
          </div>
        </div>

        <div class="Grid-cell u-desktop-size7of12 u-tablet-size6of12 u-mobile-sizefull">
          <div class="Modal-confirmation">
            <span>
              Enviar solicitação aos doadores dos tipos sanguíneos necessários?
            </span>
            <div class="Button-group">
              <div class="Button Button--fluid u-size6of12 js-modalButton">
                Cancelar
              </div>
              <div onclick="Modal.open('.js-modalSuccessMessage')" class="Button Button--fluid u-size6of12 is-actived js-modalButton" >
                Confirmar
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- MODAL ------------------------------------------>

<div class="Modal js-modalSuccessMessage">

  <div class="Modal-content js-modalContent">
    <div class="Modal-header">
      <div class="Modal-stepBox">
        <div class="Modal-step">
          4
        </div>
      </div>
      <div class="Modal-titleBox">
        <h3 class="Modal-title">
          Enviado com sucesso
        </h3>
      </div>
    </div>

    <div class="Modal-body">
      <div class="u-align-center u-padding-left u-padding-right">
        <span class="u-font-size20 ">Seu pedido de solicitação foi recebido com sucesso pela equipe do HemoHeroes.</span>
      </div>
      <div class="u-align-center u-padding-top u-padding-bottom">
        <div onclick="Modal.close('.js-modalSuccessMessage')" class="Button Button--fluid u-size6of12 is-actived ">
          OK
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Back', demand_blood_banks_path %>
