<h1>Editing hospital</h1>
<%= render 'form', user_blood_bank: @user_blood_bank %>
  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
