<!-- <div class="Container Container-header">
  <div class="Container Container-step">
    <span>3</span>
  </div>
  <h1 class="Container-header-text">Cadastro de user_blood_bank</h1>
</div> -->
<%= render 'form', user_blood_bank: @user_blood_bank %>
