// Media Queries
@import './JonsModularUI/media-queries/media-queries.scss';


// Colors
$brand-color: #fe4b4a;
$body-color: #FFFFFF;
$border-color: #cecccc;


//Fonts
$light-font-color: #ffffff;
$dark-font-color: #333333;
$border-maps-color: #aba4a4;
$subTitle-maps-color: #525050;


//Radius
$container-radius: 5px;
