<div class="Modal js-modalRequirements">

  <div class="Modal-overlay" onclick="Modal.close('.js-modalRequirements')">
  </div>

  <div class="Modal-content js-modalContent">

    <div class="Modal-header">
      <div class="Modal-closeButton">
        <a class="glyphicon glyphicon-remove" onclick="Modal.close('.js-modalRequirements')"></a>
      </div>
      <div class="Modal-titleBox">
        <h4 class="Modal-title">Quem pode doar</h4>
      </div>
    </div>

    <div class="Modal-body">
      <span class="Modal--textModal">

        Requisitos para doar


        <div class="Button Button--notification" onclick="Modal.close('.js-modalRequirements')">Fechar</div>
      </div>
    </div>
  </span>
</div>
