
<div class="Modal Modal-terms js-modalMap">

  <div class="Modal-overlay" onclick="Modal.close('.js-modalMap')">
  </div>

  <div class="Modal-content js-modalContent">

    <div class="Modal-header">
      <div class="Modal-closeButton">
        <a class="glyphicon glyphicon-remove" onclick="Modal.close('.js-modalMap')"></a>
      </div>
      <div class="Modal-titleBox">
        <h3 class="Modal-title">Aviso</h3>
      </div>
    </div>

    <div class="Modal-body">
      <span class="Modal--textModal">
        <p id="corpo-modal-map">
          Quando o Banco de Sangue precisar de doação, entraremos em contato com você!
        </p>
        <div class="Button Button--notification is-actived" onclick="Modal.close('.js-modalMap')">Fechar</div>
      </div>
    </div>
  </span>
</div>
</div>
</div>
