<div class="Modal js-modalRequirements">

  <div class="Modal-overlay" onclick="Modal.close('.js-modalRequirements')">
  </div>

  <div class="Modal-content js-modalContent">

    <div class="Modal-header">
      <div class="Modal-closeButton">
        <a class="glyphicon glyphicon-remove" onclick="Modal.close('.js-modalRequirements')"></a>
      </div>
      <div class="Modal-titleBox">
        <h4 class="Modal-title">Quem pode doar</h4>
      </div>
    </div>

    <div class="Modal-body">
      <span class="Modal--textModal">
        <h4>REQUISITOS MINIMOS</h4>

        <ul>
          <li class="u-margin-bottom-small u-font-07em u-align-justify">Estar em boas condições de saúde.</li>
          <li class="u-margin-bottom-small u-font-07em u-align-justify">Portar documento de identificação oficial, com foto – RG ou Carteira de Habilitação.</li>
          <li class="u-margin-bottom-small u-font-07em u-align-justify">Ter entre 16 e 69 anos, desde que a primeira doação tenha sido feita até 60 anos (menores de 18 anos devem estar acompanhados do responsável legal e trazer documentos. Entre em contato com o banco de sangue para maiores informações).</li>
          <li class="u-margin-bottom-small u-font-07em u-align-justify"> Estar alimentado, mas evite alimentos gordurosos nas 4 horas que antecedem a doação.</li>
          <li class="u-margin-bottom-small u-font-07em u-align-justify"> Ter peso igual ou superior a 50 kg.</li>
          <li class="u-margin-bottom-small u-font-07em u-align-justify"> Estar descansado. Ter dormido pelo menos 6 horas nas últimas 24 horas.</li>
        </ul>
        <small class="u-font-em u-align-justify">*Esta lista de requisitos não esgota os motivos de impedimentos para doação, de forma que outras informações prestadas por você durante a triagem clínica, de acordo com a portaria MS1353 de 2011, serão consideradas para definir se está apto para doar sangue no momento.</small>

        <h4>IMPEDIMENTOS TEMPORÁRIOS</h4>
        <ul>
          <li class="u-margin-bottom-small u-font-07em u-align-justifyu-font-07em u-align-justify">Estar bem de saúde. Ou seja, se estiver gripado, resfriado, com febre, espere 7 dias após o desaparecimento dos sintomas.</li>
          <li class="u-margin-bottom-small u-font-07em u-align-justify">Período gestacional.</li>
          <li class="u-margin-bottom-small u-font-07em u-align-justify">Período pós-gravidez: 90 dias para parto normal e 180 dias para cesariana.</li>
          <li class="u-margin-bottom-small u-font-07em u-align-justify"> Amamentação.</li>
          <li class="u-margin-bottom-small u-font-07em u-align-justify">Ingestão de bebida alcoólica nas 12 horas que antecedem a doação.</li>
          <li class="u-margin-bottom-small u-font-07em u-align-justify"> Tatuagem e/ou piercing nos últimos seis meses (piercing em cavidade oral ou região genital impedem a doação).</li>
          <li class="u-margin-bottom-small u-font-07em u-align-justify"> Não ter feito exames/procedimentos com utilização de endoscópio nos últimos seis meses.</li>
          <li class="u-margin-bottom-small u-font-07em u-align-justify">Comportamento de risco para doenças sexualmente transmissíveis: aguardar 12 meses.</li>
        </ul>

        <h4>IMPEDIMENTOS DEFINITIVOS</h4>
        <ul>
          <li class="u-margin-bottom-small u-font-07em u-align-justify">Hepatite após os 11 anos de idade.</li>
          <li class="u-margin-bottom-small u-font-07em u-align-justify">Evidência clínica ou laboratorial das seguintes doenças infecciosas transmissíveis pelo sangue: Hepatites B e C, AIDS (vírus HIV), doenças associadas aos vírus HTLV I e II e Doença de Chagas.</li>
          <li class="u-margin-bottom-small u-font-07em u-align-justify">Uso de drogas ilícitas injetáveis.</li>
          <li class="u-margin-bottom-small u-font-07em u-align-justify">Malária.</li>
        </ul>

        <div class="u-margin-bottom-medium">
          <small class="u-font-em u-align-justify">*Hepatite após o 11º aniversário: Recusa Definitiva; Hepatite B ou C após ou antes dos 10 anos: Recusa definitiva; Hepatite por Medicamento: apto após a cura e avaliado clinicamente; Hepatite viral (A): após os 11 anos de idade, se trouxer o exame do diagnóstico da doença, será avaliado pelo médico da triagem.</small>
        </div>


        <div class="Button Button--notification " onclick="Modal.close('.js-modalRequirements')">Fechar</div>
      </div>
    </div>
  </span>
</div>
