<section class="Section Section--small" id="sobre">
  <div class="Section-content">
    <h2 class="u-align-center">
      <a>Sobre</a>
    </h2>
    <div class="Section-text">
      <p>
        O projeto HemoHeroes nasceu de uma ideia de estudantes da área de TI
        submetida no programa Aceleradora Ágil, uma parceria ThoughtWorks, PUCRS
        e Centro de Inovação Microsoft.
      </p>
      <p>
        Buscamos manter e captar doadores em um sistema único, seguro e acessível
        por todos os bancos de sangue parceiros. Assim nos encarregamos de chamar
        os doadores aptos de acordo com a necessidade dos hemocentros, disponibilizar
        informações necessárias para quem quer fazer uma doação, informar a data que o
        doador está apto a doar novamente e divulgar campanhas de doação de
        sangue em sua região.
      </p>
      <p>
        Nosso objetivo é salvar cada vez mais vidas captando novos doadores,
        disponibilizar uma nova ferramenta para os hemocentros e criando mais
        conforto aos usuários através de facilidades e transparência.
      </p>
    </div>
  </div>
</section>
