<section id="comoFunciona" class="Section Section u-align-center">
  <h2 class="u-margin-0">
    <a>Como funciona</a>
  </h2>
  <div class="HowFunction-group">
    <div class="HowFunction">
      <div class="HowFunction-image">
        <%= image_tag "user.png" %>
      </div>
      <div class="HowFunction-name">
        1. Você se cadastra no HemoHeroes
      </div>
    </div>
    <div class="HowFunction">
      <div class="HowFunction-image">
        <%= image_tag "hospital.png" %>
      </div>
      <div class="HowFunction-name">
        2. O Banco de Sangue solicita a doação do seu tipo sanguíneo
      </div>
    </div>
    <div class="HowFunction">
      <div class="HowFunction-image">
        <%= image_tag "email.png" %>
      </div>
      <div class="HowFunction-name">
        3. Você recebe por email a solicitação
      </div>
    </div>
    <div class="HowFunction">
      <div class="HowFunction-image">
        <%= image_tag "blood-donator.png" %>
      </div>
      <div class="HowFunction-name">
        4. Atenda a solicitação comparecendo ao Banco de Sangue
      </div>
    </div>
  </div>
  <div class="Button Button--large  is-actived-secundary" onclick="Modal.open('.js-modalRegistration')">
    Quero Me Cadastrar <span class="glyphicon glyphicon-menu-right"></span>
  </div>
</section>
