
<div class="Modal js-modalTerms Modal-overlay" style="opacity: 1; z-index: 30;">
  <div class="Modal-content js-modalContent" style="top: 50%;">

    <div class="Modal-header">
      <div class="Modal-closeButton">
        <a class="glyphicon glyphicon-remove" onclick="Modal.close('.js-modalTerms')"></a>
      </div>
      <div class="Modal-titleBox">
        <h3 class="Modal-title">Termos de uso</h3>
      </div>
    </div>

    <div class="Modal-body">
      <span class="Modal--textModal">
        <p>
        Limitação da responsabilidade
        Os materiais são fornecidos neste website sem nenhuma garantia explícita ou implícita de comercialização ou adequação a qualquer objetivo específico. Em nenhum caso o …. ou os seus colaboradores serão responsabilizados por quaisquer danos, incluindo lucros cessantes, interrupção de negócio, ou perda de informação que resultem do uso ou da incapacidade de usar os materiais. O ……. não garante a precisão ou integridade das informações, textos, gráficos, links e outros itens dos materiais.
        O …. não se responsabiliza pelo conteúdo dos artigos e informações aqui publicadas, uma vez que os textos são de autoria de terceiros e não traduzem, necessariamente, a opinião do website.
        O … tampouco é responsável pela violação de direitos autorais decorrente de informações, documentos e materiais publicados neste website, compromentendo-se a retirá-los do ar assim que notificado da infração.
        </p>

        <p>
        Informações enviadas pelos usuários e colaboradores
        Qualquer material, informação, artigos ou outras comunicações que forem transmitidas, enviadas  ou publicadas neste site serão considerados informação não confidencial, e qualquer violação aos direitos dos seus criadores não será de responsabilidade do …… É terminantemente proibido transmitir, trocar ou pulbicar, através deste website, qualquer material de cunho obsceno, difamatório ou ilegal, bem como textos ou criações de terceiros sem a autorização do autor. O …….. reserva-se o direito de restringir o acesso às informações enviadas por terceiros aos seus usuários.
        O ……. poderá, mas não é obrigado, a monitorar, revistar e restringir o acesso a qualquer área no site onde usuários transmitem e trocam informações entre si, incluindo, mas não limitado a, salas de chat, centro de mensagens ou outros foruns de debates, podendo retirar do ar ou retirar o acesso a qualquer destas informações ou comunicações.  Porém, o …… não é responsável pelo conteúdo de qualquer uma das informações trocadas entre os usuários, sejam elas lícitas ou ilícitas.
        </p>

        <p>
        Links para sites de terceiros
        Os sites apontados não estão sob o controle do …….. que não é responsável pelo conteúdo de qualquer outro website indicado ou acessado por meio do ……………. reserva-se o direito de eliminar qualquer link ou direcionamento a outros sites ou serviços a qualquer momento. O ….. não endossa firmas ou produtos indicados, acessados ou divulgados através deste website, tampouco pelos anúncios aqui publicados, reservando-sese o direito de publicar este alerta em suas páginas eletrônicas sempre que considerar necessário.
        </p>

        <p>
        Direitos autorais e propriedade intelectual
        Os documentos, conteúdos e criações contidos neste website pertencem aos seus criadores e colaboradores. A autoria dos conteúdo, material e imagens exibidos no…. é protegida por leis nacionais e internacionais. Não podem ser copiados, reproduzidos, modificados, publicados, atualizados, postados, transmitidos ou distribuídos de qualquer maneira sem autorização prévia e por escrito do ……
        As imagens contidas neste website são aqui incorporadas apenas para fins de visualização, e, salvo autorização expressa por escrito, não podem ser gravadas ou baixadas via download. A reprodução ou armazenamento de materiais recuperados a partir deste serviço sujeitará os infratores às penas da lei.
        O nome do site ( ………) , seu logotipo, o nome de domínio para acesso na Internet, bem como todos os elementos característicos da tecnologia desenvolvida e aqui apresentada, sob a forma da articulação de bases de dados, constituem marcas registradas e propriedades intelectuais privadas e todos os direitos decorrentes de seu registro são assegurados por lei. Alguns direitos de uso podem ser cedidos por ….. em contrato ou licença especial, que pode ser cancelada a qualquer momento se não cumpridos os seus termos.
        As marcas registradas do … só podem ser usadas publicamente com autorização expressa. O uso destas marcas registradas em publicidade e promoção de produtos deve ser adequadamente informado.
        </p>

        <p>
        Reclamações sobre violação de direitos autorais
        O …. respeita a propriedade intelectual de outras pessoas ou empresas e solicitamos aos nossos membros que façam o mesmo. Toda e qualquer violação de direitos autorais deverá ser notificada ao …… e acompanhada dos documentos e informações que confirmam a autoria. A notificação poderá ser enviada pelos e-mails constantes do site ou via postal para o seguinte endereço………
        </p>

        <p>
        Leis aplicáveis
        Este site é controlado e operado pelo ….. a partir de seu escritório na cidade de ……………… estado de…………….. e não garante que o conteúdo ou materiais estejam disponíveis para uso em outras localidades. Seu acesso é proibido em territórios onde o conteúdo seja considerado ilegal. Aqueles que optarem por acessar este site a partir de outras localidades o farão por iniciativa própria e serão responsáveis pelo cumprimento das leis locais aplicáveis. Os materiais não deverão ser usados ou exportados em descumprimento das leis brasileiras sobre exportação. Qualquer pendência com relação aos materiais será dirimida pelas leis brasileiras.
        O acesso ao …… representa a aceitação expressa e irrestrita dos termos de uso acima descritos.</p>
        </p>


            <div class="Button Button--notification" onclick="Modal.close('.js-modalTerms')">Fechar</div>
          </div>
        </div>
      </span>
    </div>
  </div>
</div>
