<% if flash[:notification_modal]  %>
<div class="Modal js-modal js-modalSuccessMessage Modal-overlay" style="opacity: 1; visibility: visible;">
  <div class="Modal-content js-modalContent" style="top: 50%;">

    <div class="Modal-header">
      <div class="Modal-closeButton">
        <a class="glyphicon glyphicon-remove" onclick="Modal.close('.js-modal')"></a>
      </div>
      <div class="Modal-titleBox">
        <h3 class="Modal-title"><%= flash[:title] %></h3>
      </div>
    </div>



    <% if flash[:link] %>
    <div class="Modal-body">
      <span class="Modal--textModal"><%= flash[:message] %></span>
      <div class="u-link-group u-padding-bottom u-padding-top">
        <%= link_to "Requisitos", dashboard_path, method: :get %>
        <a data-turbolinks="false" data-scroll href="#onde" onclick="Modal.close('.js-modal')">Onde doar</a>
        <a data-turbolinks="false" data-scroll href="#sobre" onclick="Modal.close('.js-modal')">Saiba mais</a>
      </div>
    </div>
    <% else %>
    <div class="Modal-body">
      <span class="Modal--textModal"><%= flash[:message] %></span>
    </div>
    <% end %>

  </div>
</div>
<% end %>
