<!-- Hero Image -->

<section class="HeroImage u-align-center">
  <% if flash[:notification_modal]  %>
  <div class="Modal js-modal js-modalSuccessMessage" style="opacity: 1; visibility: visible;">
    <div class="Modal-content js-modalContent" style="top: 50%;">

      <div class="Modal-header">
        <div class="Modal-titleBox">
          <h3 class="Modal-title"><%= flash[:title] %></h3>
        </div>
      </div>


      <div class="Modal-body">
        <div class="u-align-center u-padding-left u-padding-right">
          <span class="u-font-size20 "><%= flash[:message] %></span>
        </div>
        <div class="u-align-center u-padding-top u-padding-bottom">
          <div class="Button" onclick="Modal.close('.js-modal')">Fechar</div>
        </div>
      </div>

    </div>
  </div>
  <% end %>

  <h1>Bem vindo ao HemoHeroes</h1>



  <p class="u-font-size18">
    Que bom que você chegou! Têm muitas pessoas precisando de sua ajuda.
    Torne-se um verdadeiro herói, doe sangue e salve vidas.
  </p>



  <p class="u-font-size18">
    O Projeto HemoHeroes foi desenvolvido para interagir com doadores em potencial,
    a fim de aumentar as doações em número e frequência.

  </p>

  <a href="/cadastroDoador">
    <div class="Button Button--medium is-actived u-margin-top-large">Cadastre-se</div>
  </a>


</section>

<div class="u-divider"></div>


<!-- Sobre -->

<section class="Section Section--secondary">
  <div class="Grid Grid--withGutter">
    <div class="Grid-cell u-desktop-sizefull u-tablet-sizefull u-mobile-sizefull u-align-center">
        <h2>SOBRE</h2>
        <p class="u-font-size14 u-padding-left u-padding-right u-padding-bottom u-text-align-justify">
          Porque doar sangue é um ato de responsabilidade social!
          E esta responsabilidade social não se deve limitar à simples doação de sangue por
          um cidadão. É importante que este cidadão transforme outro cidadão em doador
          de sangue, formando-se uma corrente de agentes multiplicadores e disseminadores da
          importância social da doação de sangue. Quando isto acontecer não faltará sangue
          para o atendimento da população
          e a sociedade terá realmente cumprido seu importante papel nesse processo.
        </p>
    </div>
  </div>
</section>




<!-- Mapa -->
<section class="Section u-outerWrapper">
  <div class="Grid Grid--withGutter">
    <div class="Grid-cell u-desktop-sizefull u-tablet-sizefull u-mobile-sizefull u-align-center">
        <h2>NECESSIDADE</h2>
    </div>
  </div>
</section>
