<h1>O Hemo é hero</h1>

<h2>Faça cadastro ou login para desfrutar dos nossos recursos.</h2>

<h5 style="color:red;">
  <span id='bathias'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
</h5>

<%= render "devise/sessions/new" %>

<script>
  $('#bathias').on('mouseenter', function() {
    $(this).html("O Mathias é o batman!");
    console.log("enter");
  });
  $('#bathias').on('mouseleave', function() {
    $(this).html("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;");
    console.log("leave");
  });
</script>
