<section class="BackgroundImage u-align-center u-outerWrapper">

  <% if flash[:notification_modal]  %>
  <div class="Modal js-modal js-modalSuccessMessage" style="opacity: 1; visibility: visible;">
    <div class="Modal-content js-modalContent" style="top: 50%;">

      <div class="Modal-header">
        <div class="Modal-titleBox">
          <h3 class="Modal-title"><%= flash[:title] %></h3>
        </div>
      </div>


      <div class="Modal-body">
        <div class="u-align-center u-padding-left u-padding-right">
          <span class="u-font-size20 "><%= flash[:message] %></span>
        </div>
        <div class="u-align-center u-padding-top u-padding-bottom">
          <div class="Button" onclick="Modal.close('.js-modal')">Fechar</div>
        </div>
      </div>

    </div>
  </div>
  <% end %>

  <h1>Bem vindo ao HemoHeroes</h1>



  <p class="u-font-size18">
    Que bom que você chegou! Têm muitas pessoas precisando de sua ajuda.
    Torne-se um verdadeiro herói, doe sangue e salve vidas.
  </p>



  <p class="u-font-size18">
    O Projeto HemoHeroes foi desenvolvido para interagir com doadores em potencial,
    a fim de aumentar as doações em número e frequência.

  </p>

  <a href="/cadastroDoador">
    <div class="Button Button--medium is-actived u-margin-top-large">Cadastre-se</div>
  </a>


</section>

<div class="u-divider"></div>

<section class="Section u-outerWrapper">
  <div class="Grid Grid--withGutter">

    <div class="Grid-cell u-desktop-size4of12 u-tablet-sizefull u-mobile-sizefull">
      <div class="u-align-center u-padding-top">
        <img class="image-circle" src="https://media.licdn.com/media/p/1/005/0b6/35c/1083a76.jpg"
        width="100" height="150" />
        <h4 class="u-text-align-center"> RUBENS MATHIAS </h4>
        <p class="u-font-size12 u-padding-left u-padding-right u-padding-bottom u-text-align-justify">
          "O medo é inevitável, mas a vida de uma pessoa que está em nossas mãos é muito mais importante
          que qualquer agulha. Renuncie o seu medo e seja um doador de sangue. Uma renúncia, uma vida salva."
        </p>
      </div>
    </div>

    <div class="Grid-cell u-desktop-size4of12 u-tablet-sizefull u-mobile-sizefull">
      <div class="u-align-center u-padding-top">
        <img class="image-circle" src="http://revistagalileu.globo.com/Revista/Galileu2/foto/0,,56770968,00.jpg"
        width="100" height="150" />
        <h4 class="u-align-center"> EDUARDO </h4>
        <p class="u-font-size12 u-padding-left u-padding-right u-padding-bottom u-text-align-justify">
          "Salvar uma vida é salvar a si mesmo, é olhar além sem esperar nada em troca,
          é misturar o sangue em busca do bem."
        </p>
      </div>
    </div>

    <div class="Grid-cell u-desktop-size4of12 u-tablet-sizefull u-mobile-sizefull">
      <div class="u-align-center u-padding-top">
        <img class="image-circle" src="http://65.media.tumblr.com/a70131cd63835fc6e4997c97b7d7fe4c/tumblr_ms1s018G191qezw6ho1_1280.jpg"
        width="100" height="150" />
        <h4 class="u-align-center"> MARINA </h4>
        <p class="u-font-size12 u-padding-left u-padding-right u-padding-bottom u-text-align-justify">
          "Mais do que palavras, as ações começam dentro de nós e são elas que fazem o ser humano
          ter mais uma chance. Seja essa chance que o próximo necessita, seja um doador de sangue."
        </p>
      </div>
    </div>


  </div>
</section>
