<section class="Section u-align-center u-outerWrapper">

  <% if flash[:cancelnotification_modal]  %>
  <div class="Modal js-modal js-modalSuccessMessage" style="opacity: 1; visibility: visible;">
    <div class="Modal-content js-modalContent" style="top: 50%;">

      <div class="Modal-header">
        <div class="Modal-titleBox">
          <h3 class="Modal-title">Notificação Cancelada</h3>
        </div>
      </div>


      <div class="Modal-body">
        <div class="u-align-center u-padding-left u-padding-right">
          <span class="u-font-size20 ">A partir de agora você não receberá mais emails de solcitação do Hemoheroes.</span>
        </div>
        <div class="u-align-center u-padding-top u-padding-bottom">
          <div class="Button" onclick="Modal.close('.js-modal')">Fechar</div>
        </div>
      </div>

    </div>
  </div>
  <% end %>

  <h1>Bem vindo ao HemoHeroes</h1>

  <p class="u-font-size18">
    Que bom que você chegou! têm muitas pessoas precisando de sua ajuda.
    Torne-se um verdadeiro herói, doe sangue e salve vidas.
  </p>

  <p class="u-font-size18">
    O Projeto HemoHeroes foi desenvolvido para interagir com doadores em potencial, a fim de aumentar as doações em número e frequência.
  </p>

  <a href="/cadastroDoador">
    <div class="Button Button--medium is-actived u-margin-top-large">Cadastre-se</div>
  </a>

</section>

<div class="u-divider"></div>

<section class="Section u-outerWrapper">
  <div class="Grid Grid--withGutter">
    <div class="Grid-cell u-desktop-size4of12 u-tablet-sizefull u-mobile-sizefull">
      <div class="u-align-center u-padding-top">
        <img class="image-circle" src="https://scontent.fpoa3-1.fna.fbcdn.net/v/t1.0-9/269197_3772583652710_650270889_n.jpg?oh=4e03bad28e2abc07b8b648d481e6e79f&oe=58A8CAE5" width="100" height="150" />
        <h4 class="u-align-center"> RUBENS MATHIAS </h4>
      <p class="u-font-size12 u-padding-left u-padding-right u-padding-bottom">
        "Se tem dúvida ou medo de doar, pense que além das milhares de pessoas
        que já o fazem, estará ajudando muitas outras vidas e famílias a aumentara
        expectativa de vida, É um sentimento muito bom."
      </p>
    </div>
      </div>

    <div class="Grid-cell u-desktop-size4of12 u-tablet-sizefull u-mobile-sizefull">
      <div class="u-align-center u-padding-top">
        <img class="image-circle" src="https://scontent.fpoa3-1.fna.fbcdn.net/v/t1.0-9/408931_3295127916615_1718738558_n.jpg?oh=d3b7f737c9b48cc52fe432763f35fca4&oe=58932491" width="100" height="150" />
        <h4 class="u-text-align-center"> RUBENS MATHIAS </h4>
      <p class="u-font-size12 u-padding-left u-padding-right u-padding-bottom">
        "Se tem dúvida ou medo de doar, pense que além das milhares de pessoas
        que já o fazem, estará ajudando muitas outras vidas e famílias a aumentara
        expectativa de vida, É um sentimento muito bom."
      </p>
  </div>
    </div>

    <div class="Grid-cell u-desktop-size4of12 u-tablet-sizefull u-mobile-sizefull">
      <div class="u-align-center u-padding-top">
        <img class="image-circle" src="https://scontent.fpoa3-1.fna.fbcdn.net/v/t1.0-9/421357_2528048100099_1581146390_n.jpg?oh=b1eb88b1d49fb5d88d133ed5be4c03b7&oe=585F9C82" width="100" height="150" />
        <h4 class="u-align-center"> RUBENS MATHIAS </h4>
      <p class="u-font-size12 u-padding-left u-padding-right u-padding-bottom">
        "Se tem dúvida ou medo de doar, pense que além das milhares de pessoas
        que já o fazem, estará ajudando muitas outras vidas e famílias a aumentara
        expectativa de vida, É um sentimento muito bom."
      </p>
  </div>
    </div>
  </div>
</section>
