<section class="Section u-align-center u-outerWrapper">

  <% if flash[:notification_modal]  %>
  <div class="Modal js-modal js-modalSuccessMessage" style="opacity: 1; visibility: visible;">
    <div class="Modal-content js-modalContent" style="top: 50%;">

      <div class="Modal-header">
        <div class="Modal-titleBox">
          <h3 class="Modal-title"><%= flash[:title] %></h3>
        </div>
      </div>


      <div class="Modal-body">
        <div class="u-align-center u-padding-left u-padding-right">
          <span class="u-font-size20 "><%= flash[:message] %></span>
        </div>
        <div class="u-align-center u-padding-top u-padding-bottom">
          <div class="Button" onclick="Modal.close('.js-modal')">Fechar</div>
        </div>
      </div>

    </div>
  </div>
  <% end %>

  <h1>Bem vindo ao HemoHeroes</h1>

  <p class="u-font-size18">
    Que bom que você chegou! Têm muitas pessoas precisando de sua ajuda.
    Torne-se um verdadeiro herói, doe sangue e salve vidas.
  </p>

  <p class="u-font-size18">
    O Projeto HemoHeroes foi desenvolvido para interagir com doadores em potencial, a fim de aumentar as doações em número e frequência.
  </p>

  <a href="/cadastroDoador">
    <div class="Button Button--medium is-actived u-margin-top-large">Cadastre-se</div>
  </a>

</section>

<div class="u-divider"></div>

<section class="Section u-outerWrapper">
  <div class="Grid Grid--withGutter">

    <div class="Grid-cell u-desktop-size4of12 u-tablet-sizefull u-mobile-sizefull">
      <div class="u-align-center u-padding-top">
        <img class="image-circle" src="https://scontent.fpoa3-1.fna.fbcdn.net/v/t1.0-9/408931_3295127916615_1718738558_n.jpg?oh=d3b7f737c9b48cc52fe432763f35fca4&oe=58932491" width="100" height="150" />
        <h4 class="u-text-align-center"> RUBENS MATHIAS </h4>
        <p class="u-font-size12 u-padding-left u-padding-right u-padding-bottom">
          "Se tem dúvida ou medo de doar, pense que além das milhares de pessoas
          que já o fazem, estará ajudando muitas outras vidas e famílias a aumentara
          expectativa de vida, É um sentimento muito bom."
        </p>
      </div>
    </div>

    <div class="Grid-cell u-desktop-size4of12 u-tablet-sizefull u-mobile-sizefull">
      <div class="u-align-center u-padding-top">
        <img class="image-circle" src="https://scontent.fpoa3-1.fna.fbcdn.net/v/t1.0-9/421357_2528048100099_1581146390_n.jpg?oh=b1eb88b1d49fb5d88d133ed5be4c03b7&oe=585F9C82" width="100" height="150" />
        <h4 class="u-align-center"> RUBENS MATHIAS </h4>
        <p class="u-font-size12 u-padding-left u-padding-right u-padding-bottom">
          "Se tem dúvida ou medo de doar, pense que além das milhares de pessoas
          que já o fazem, estará ajudando muitas outras vidas e famílias a aumentara
          expectativa de vida, É um sentimento muito bom."
        </p>
      </div>
    </div>

    <div class="Grid-cell u-desktop-size4of12 u-tablet-sizefull u-mobile-sizefull">
      <div class="u-align-center u-padding-top">
        <a href="https://www.youtube.com/watch?v=IR3JY96V35A" ><img class="image-circle" src="https://i.ytimg.com/vi/BJGbtz48xcw/hqdefault.jpg" width="100" height="150" /></a>
        <h4 class="u-align-center"> CACETE DE AGULHA </h4>
        <p class="u-font-size12 u-padding-left u-padding-right u-padding-bottom">
          "E dou uma indicação. Quem nunca doou pode vir doar que não dói nada...
          pera.. só um minuto.. "
        </p>
      </div>
    </div>


  </div>
</section>
