<div class="Grid Grid--withGutter">
  <div class="Container">
    <div class="Grid-cell u-desktop-size6of12 u-tablet-sizefull u-mobile-sizefull">
      <div class="Container-body u-align-center">
        <h2>Hemo Heroes</h2>


        <p>Que bom que você chegou, tem muita gente esperando e precisando de sua ajuda.
        Torne-se um verdadeiro herói, doe sangue e salve vidas.
        Faça parte desse time você também!</p>

        <p>O Projeto HemoHeroes foi idealizado e desenvolvido para interagir
        com o público em potencial para aumentar o número de doadores e
        a frequência dessas doações.</p>

        <h2>Faça cadastro para desfrutar dos nossos recursos.</h2>


        <a href="/cadastroDoador"><div class="Button is-actived">Cadastro</div></a>

      </div>
    </div>
    <div class="index-image u-float-right">
    </div>
  </div>
</div>







<!-- <h1>O Hemo é hero</h1>

<h2>Faça cadastro ou login para desfrutar dos nossos recursos.</h2>

<h5 style="color:red;">
<span id='bathias'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
</h5> -->


<!--
<script>
$('#bathias').on('mouseenter', function() {
$(this).html("O Mathias é o batman!");
console.log("enter");
});
$('#bathias').on('mouseleave', function() {
$(this).html("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;");
console.log("leave");
});
</script> -->
