<div class="Grid Grid--withGutter">
  <div class="Grid-cell u-desktop-size6of12 u-tablet-sizefull u-mobile-sizefull">
    <div class="Container">
      <div class="Container-body u-align-left">
        <h1>Hemo Heroes</h1>

        <h2>Faça cadastro ou login para desfrutar dos nossos recursos.</h2>
        <a href="/cadastroDoador"><div class="Button is-actived">Cadastro</div></a>
        <div class="Button is-actived" onclick="Modal.open('.js-modalLogin')">Login</div>
      </div>
    </div>
  </div>
</div>
























<!-- <h1>O Hemo é hero</h1>

<h2>Faça cadastro ou login para desfrutar dos nossos recursos.</h2>

<h5 style="color:red;">
<span id='bathias'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
</h5> -->


<!--
<script>
$('#bathias').on('mouseenter', function() {
$(this).html("O Mathias é o batman!");
console.log("enter");
});
$('#bathias').on('mouseleave', function() {
$(this).html("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;");
console.log("leave");
});
</script> -->
