<div class="Grid Grid--withGutter">
  <div class="Container">
    <div class="Grid-cell u-desktop-size6of12 u-tablet-sizefull u-mobile-sizefull">
      <div class="Container-body u-align-center">
        <h2>Hemo Heroes</h2>


        <p>Que bom que você chegou, tem muita gente esperando e precisando de sua ajuda.
          Torne-se um verdadeiro herói, doe sangue e salve vidas.
          Faça parte desse time você também!</p>

          <p>O Projeto HemoHeroes foi idealizado e desenvolvido para interagir
            com o público em potencial para aumentar o número de doadores e
            a frequência dessas doações.</p>

            <h2>Faça cadastro para desfrutar dos nossos recursos.</h2>


            <a href="/cadastroDoador"><div class="Button is-actived">Cadastro</div></a>

          </div>
        </div>
        <div class="index-image u-float-right">
        </div>
      </div>
    </div>



    <div class="Grid Grid--withGutter" >
      <div class="Grid-cell u-desktop-size3of12 u-tablet-sizefull u-mobile-sizefull u-padding-top">
        <div class="Container Container-noBorder">
          <div class="Container-body u-align-center">

            <img class="imgNask" src="https://scontent.fpoa3-1.fna.fbcdn.net/v/t1.0-9/269197_3772583652710_650270889_n.jpg?oh=4e03bad28e2abc07b8b648d481e6e79f&oe=58A8CAE5" width="100" height="150" />
            <h3> RUBENS MATHIAS </h3>

            <p class="u-font-size12 u-text-align-justify">
              "Se tem dúvida ou medo de doar, pense que além das milhares de pessoas
              que já o fazem, estará ajudando muitas outras vidas e famílias a aumentara
              expectativa de vida, É um sentimento muito bom."
            </p>

          </div>
        </div>
      </div>

      <div class="Grid-cell u-desktop-size3of12 u-tablet-sizefull u-mobile-sizefull u-padding-top">
        <div class="Container Container-noBorder">
          <div class="Container-body u-align-center">

            <img class="imgNask" src="https://scontent.fpoa3-1.fna.fbcdn.net/v/t1.0-9/408931_3295127916615_1718738558_n.jpg?oh=d3b7f737c9b48cc52fe432763f35fca4&oe=58932491" width="100" height="150" />
            <h3> RUBENS MATHIAS </h3>

            <p class="u-font-size12 u-text-align-justify">
              "Se tem dúvida ou medo de doar, pense que além das milhares de pessoas
              que já o fazem, estará ajudando muitas outras vidas e famílias a aumentara
              expectativa de vida, É um sentimento muito bom."
            </p>

          </div>
        </div>
      </div>

      <div class="Grid-cell u-desktop-size3of12 u-tablet-sizefull u-mobile-sizefull u-padding-top">
        <div class="Container Container-noBorder">
          <div class="Container-body u-align-center">

            <img class="imgNask" src="https://scontent.fpoa3-1.fna.fbcdn.net/v/t1.0-9/1184986_4842835208330_79914350_n.jpg?oh=1bc9556f13d3dc41300c19bfb707fbaf&oe=58ABB24E" width="100" height="150" />
            <h3> RUBENS MATHIAS </h3>

            <p class="u-font-size12 u-text-align-justify">
              "Se tem dúvida ou medo de doar, pense que além das milhares de pessoas
              que já o fazem, estará ajudando muitas outras vidas e famílias a aumentara
              expectativa de vida, É um sentimento muito bom."
            </p>

          </div>
        </div>
      </div>

      <div class="Grid-cell u-desktop-size3of12 u-tablet-sizefull u-mobile-sizefull u-padding-top">
        <div class="Container Container-noBorder">
          <div class="Container-body u-align-center">

            <img class="imgNask" src="https://scontent.fpoa3-1.fna.fbcdn.net/v/t1.0-9/421357_2528048100099_1581146390_n.jpg?oh=b1eb88b1d49fb5d88d133ed5be4c03b7&oe=585F9C82" width="100" height="150" />
            <h3> RUBENS MATHIAS </h3>

            <p class="u-font-size12 u-text-align-justify">
              "Se tem dúvida ou medo de doar, pense que além das milhares de pessoas
              que já o fazem, estará ajudando muitas outras vidas e famílias a aumentara
              expectativa de vida, É um sentimento muito bom."
            </p>

          </div>
        </div>
      </div>


    </div>



    <!-- <h1>O Hemo é hero</h1>

    <h2>Faça cadastro ou login para desfrutar dos nossos recursos.</h2>

    <h5 style="color:red;">
    <span id='bathias'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  </h5> -->


  <!--
  <script>
  $('#bathias').on('mouseenter', function() {
  $(this).html("O Mathias é o batman!");
  console.log("enter");
});
$('#bathias').on('mouseleave', function() {
$(this).html("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;");
console.log("leave");
});
</script> -->
