<%= alert %>

<section class="Section u-align-center u-outerWrapper u-margin-auto">
    <h4 class="u-margin-top-large">Seja bem vindo ao HemoHeroes!</h4>
    <p>Caso seu tipo sanguíneo seja solicitado entraremos em contato por email</p>


  <div class="Container Container--invisible u-margin-auto u-margin-top-large">
    <h4>Veja se você atende os requisítos básicos</h4>

    <ul>
      <li class=" u-align-left u-margin-bottom-small">Estar em boas condições de saúde</li>
      <li class=" u-align-left u-margin-bottom-small">Estar entre 16 e 69 anos</li>
      <li class=" u-align-left u-margin-bottom-small"> Estar alimentado, mas evite alimentos gordurosos nas três horas que antecedem a doação. Caso seja após o almoço, aguardar duas horas</li>
      <li class=" u-align-left u-margin-bottom-small"> Ter peso igual ou superior a 50 kg</li>
      <li class=" u-align-left u-margin-bottom-small"> Ter dormido pelo menos seis horas nas últimas 24 horas</li>

    </ul>

    <h4>Verifique os impedimentos temporários</h4>
    <ul>
      <li class="u-align-left u-margin-bottom-small">Estar bem de saúde. Ou seja, se estiver gripado, resfriado, com febre, espere 7 dias após o desaparecimento dos sintomas;</li>

      <li class="u-align-left u-margin-bottom-small">Período gestacional;</li>

      <li class="u-align-left u-margin-bottom-small">Período pós-gravidez: 90 dias para parto normal e 180 dias para cesariana;</li>

      <li class="u-align-left u-margin-bottom-small"> Amamentação;</li>

      <li class="u-align-left u-margin-bottom-small">Ingestão de bebida alcoólica nas 12 horas que antecedem a doação;</li>

      <li class="u-align-left u-margin-bottom-small"> Tatuagem e/ou piercing nos últimos seis meses (piercing em cavidade oral ou região genital impedem a doação);</li>

      <li class="u-align-left u-margin-bottom-small"> Não ter feito exames/procedimentos com utilização de endoscópio nos últimos seis meses;</li>

      <li class="u-align-left u-margin-bottom-small">Comportamento de risco para doenças sexualmente transmissíveis: aguardar 12 meses.</li>

    </ul>

  </div>

</section>
