<%= alert %>

<section class="Section u-margin-auto">
  <h4 class="u-margin-top-large u-align-center">Seja bem-vindo ao HemoHeroes!</h4>


  <div class="Container u-margin-auto u-margin-top-large">
    <h4>QUEM PODE DOAR</h4>
    <ul>
      <li class="u-margin-bottom-small">Estar em boas condições de saúde.</li>
      <li class="u-margin-bottom-small">Portar documento de identificação oficial, com foto – RG ou Carteira de Habilitação.</li>
      <li class="u-margin-bottom-small">Ter entre 16 e 69 anos, desde que a primeira doação tenha sido feita até 60 anos (menores de 18 anos devem estar acompanhados do responsável legal e trazer documentos. Entre em contato com o banco de sangue para maiores informações).</li>
      <li class="u-margin-bottom-small"> Estar alimentado, mas evite alimentos gordurosos nas 4 horas que antecedem a doação.</li>
      <li class="u-margin-bottom-small"> Ter peso igual ou superior a 50 kg.</li>
      <li class="u-margin-bottom-small"> Estar descansado. Ter dormido pelo menos 6 horas nas últimas 24 horas.</li>
    </ul>
    <small>*Esta lista de requisitos não esgota os motivos de impedimentos para doação, de forma que outras informações prestadas por você durante a triagem clínica, de acordo com a portaria MS1353 de 2011, serão consideradas para definir se está apto para doar sangue no momento.</small>

    <h4>IMPEDIMENTOS TEMPORÁRIOS</h4>
    <ul>
      <li class="u-margin-bottom-small">Estar bem de saúde. Ou seja, se estiver gripado, resfriado, com febre, espere 7 dias após o desaparecimento dos sintomas.</li>
      <li class="u-margin-bottom-small">Período gestacional.</li>
      <li class="u-margin-bottom-small">Período pós-gravidez: 90 dias para parto normal e 180 dias para cesariana.</li>
      <li class="u-margin-bottom-small"> Amamentação.</li>
      <li class="u-margin-bottom-small">Ingestão de bebida alcoólica nas 12 horas que antecedem a doação.</li>
      <li class="u-margin-bottom-small"> Tatuagem e/ou piercing nos últimos seis meses (piercing em cavidade oral ou região genital impedem a doação).</li>
      <li class="u-margin-bottom-small"> Não ter feito exames/procedimentos com utilização de endoscópio nos últimos seis meses.</li>
      <li class="u-margin-bottom-small">Comportamento de risco para doenças sexualmente transmissíveis: aguardar 12 meses.</li>
    </ul>

    <h4>IMPEDIMENTOS DEFINITIVOS</h4>
    <ul>
      <li class="u-margin-bottom-small">Hepatite após os 11 anos de idade.</li>
      <li class="u-margin-bottom-small">Evidência clínica ou laboratorial das seguintes doenças infecciosas transmissíveis pelo sangue: Hepatites B e C, AIDS (vírus HIV), doenças associadas aos vírus HTLV I e II e Doença de Chagas.</li>
      <li class="u-margin-bottom-small">Uso de drogas ilícitas injetáveis.</li>
      <li class="u-margin-bottom-small">Malária.</li>
    </ul>

    <div>
      <small>*Hepatite após o 11º aniversário: Recusa Definitiva; Hepatite B ou C após ou antes dos 10 anos: Recusa definitiva; Hepatite por Medicamento: apto após a cura e avaliado clinicamente; Hepatite viral (A): após os 11 anos de idade, se trouxer o exame do diagnóstico da doença, será avaliado pelo médico da triagem.</small>
    </div>

  </div>


</section>
