<div class="Footer">
  <div class="Footer-content">
    <div class="Footer-links " >
      <% unless user_blood_bank_signed_in? %>
      <a data-turbolinks="false" onclick="Modal.open('.js-modalLogin')" id="login_hemocentro_button">Login Hospital</a>
      <a data-turbolinks="false" onclick="Modal.open('.js-modalRegistrationHospital')">Cadastrar Hospital</a>
      <% end %>
      <a id="receive_notification_button" onclick="Modal.open('.js-modalReceiveNotification')">Receber notificações</a>
      <a href="https://www.facebook.com/HemoHeroes-1202144513238389/">Contato</a>
      <a href="https://www.facebook.com/HemoHeroes-1202144513238389/"><img class="Footer Footer-facebook-icon" src="http://r-doors.com/wp-content/uploads/2016/10/Facebook-logo-white.png" alt="Facebook"></a>
    </div>
  </div>
</div>
