<div class="Footer-content">
  <div class="Footer-links u-align-center">
    <a data-turbolinks="false" onclick="Modal.open('.js-modalLogin')">Login Hemocentro</a>
    <a data-turbolinks="false" href="/cadastroBanco">Cadastrar Hemocentro</a>
  </div>
</div>
