<div class="Footer">
  <div class="Footer-content">
    <div class="Footer-links u-align-center">
      <a data-turbolinks="false" onclick="Modal.open('.js-modalLogin')" id="login_hemocentro_button">Login Hospital</a>
      <a data-turbolinks="false" href="/cadastroBanco">Cadastrar Hospital</a>
      <a id="receive_notification_button" onclick="Modal.open('.js-modalReceiveNotification')">Receber notificações</a>
      <a href="https://www.facebook.com/HemoHeroes-1202144513238389/">Contato</a>
    </div>
  </div>
</div>
