<div class="Navbar">

  <div class="Navbar-content">
    <div class="Navbar-logo" >
      Hemoheroes
    </div>

    <div class="Navbar-links">
      <ul>
        <li>
          <li>Login</li>
          <div class="Button">
              Cadastrar Usuário
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>
