<div>
  <p>
    Olá. <%= @user.name %>
  </p>
  <p>
    Ajude nosso amigo Walter White que está com câncer..
  </p>
  <p>
    Agradecemos a preferência.
  </p>
  <p>
    <%= DateTime.now %>
  </p>
  <p>
    <a href="<%= made_donation_url @user.last_donation_token %>">Já doei!</a>
  </p>
  <p>
    Link para Quero doar
  </p>
  <p>
    <a href="<%= cancel_notification_url @user.notification_token %>">Não quero mais receber notificações</a>
  </p>
</div>
