Olá. <%= @user.name %>
Ajude nosso amigo Walter White que está com câncer..

Agradecemos a preferência.

<%= DateTime.now %>
<a href="<%= made_donation_url + "/" + @user.last_donation_token %>">Já doei!</a>

Link para Quero doar
Link para Não quero mais receber notificações
